$mainColor: #172b46;
$mainColorLight: #19304f;
$purple: #5a29a7;
$purpleLight: #6e3bc6;
$whiteGray: #fcfcfc;

@font-face {
    font-family: 'Moon-Light';
    src: url('../assets/fonts/Moon-Light.eot');
    src: url('../assets/fonts/Moon-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Moon-Light.woff') format('woff'),
        url('../assets/fonts/Moon-Light.ttf') format('truetype'),
        url('../assets/fonts/Moon-Light.svg#Moon-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Moon-Bold';
    src: url('../assets/fonts/Moon-Bold.eot');
    src: url('../assets/fonts/Moon-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Moon-Bold.woff') format('woff'),
        url('../assets/fonts/Moon-Bold.ttf') format('truetype'),
        url('../assets/fonts/Moon-Bold.svg#Moon-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@define-mixin white-btn {
  text-align: center;
  border: 2px solid $purpleLight;
  padding: 8px 25px;
  border-radius: 500px;
  font-size: 1.1em;
  font-family: 'Moon-Bold';
  color: $purple;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}
@define-mixin purple-btn {
  @mixin white-btn;
  background-color: $purple;
  color: white;
}

@define-mixin purple-textbox {
  background-color: white;
  border: 2px solid $purpleLight;
  padding: 10px 25px;
  border-radius: 500px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

@define-mixin title {
  font-size: 56px;
  font-family: 'Fjalla One';
  max-width: 800px;
  font-weight: bold;
  padding-bottom: 30px;
  &::after {
    content: "";
    border-bottom: 15px solid $purpleLight;
    width: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &.small {
    font-size: 42px;
    &::after {
      display: none;
    }
  }
  @media (--small-viewport) {
    position: static;
    padding-bottom: 10px;
  }
}

@define-mixin scale $size {
  backface-visibility: hidden;
  transform: translateZ(0);
  transform: scale($size) translateZ(0);
}

@define-mixin links {
  text-align: center;
  margin-top: 3em;
  .btn {
    @mixin white-btn;
    display: inline-block;
    font-size: 1.25em;
    font-family: 'Poppins';
    &:first-child {
      margin-right: 1.8em;
    }
    &.active {
      @mixin purple-btn;
      font-family: 'Poppins';
      font-size: 1.25em;
    }
  }
}


html, body {
  min-width: 320px;
  font-size: 12px;
  margin: 0;
  color: #555961;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

code, pre {
  font-family: consolas, monaco, "Source Code Pro", hack, monospace;
  font-size: 14px;
  padding: 1px 4px;
  border-radius: 3px;
  margin: 0 3px;
  background-color: #f7f7f7;
  color: #ca0000;
}

.code {
  font-family: monaco, consolas, "Source Code Pro", hack, monospace;
}

input {
  &:focus {
    outline: 0;
  }
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

.typed-cursor {
  opacity: 1;
  animation: blink 1s infinite;
  color: white;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

.region-select-wrap {
  margin-left: 20px;
  background-image: none;
  background-color: $mainColor;
  color: white;
  border-radius: 500px;
  line-height: 0;
  position: relative;
  &:after {
    content: " ";
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: white transparent transparent transparent;
    position: absolute;
    top: 15px;
    right: 13px;
  }
  .region-select {
    text-align: center;
    font-family: 'Moon-Bold';
    background-color: transparent;
    border: none;
    box-shadow: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    color: white;
    padding: 0 20px;
    height: 35px;
    width: 130px;
    &:focus {
      outline: none;
    }
  }
}
