body > .main .container {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  width: 100%;
  background-color: #2d384a;
  padding: 10px;
  box-sizing: border-box;
  @media (--laptop-viewport) {
    padding-left: 70px;
    padding-right: 70px;
  }
  @media (--small-viewport) {
    padding-left: 10px;
    padding-right: 10px;
  }
  .fa-heart {
    color: #ca0000;
    font-size: 32px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }
  &.white {
    background-color: white;
    color: $mainColor;
    &::before {
      background-image: url("/assets/bg1.svg");
      background-size: auto;
      bottom: 0;
      top: auto;
      opacity: .1;
      height: 200px;
    }
  }
  &.noborder {
    border-bottom: 0;
    > .section {
      padding-bottom: 0;
    }
  }
  &.nobg {
    &::before {
      background-image: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .1;
    z-index: -1;
    background-image: url("/assets/bg.jpg");
    background-size: cover;
    background-position: top;
  }
  &.bottom-bg {
    &::before {
      background-position: bottom;
    }
  }
  &.topbg {
    &::after {
      content: "";
      z-index: -1;
      background-image: url("/assets/bg2.svg");
      background-size: auto;
      top: 0;
      opacity: .1;
      width: 100%;
      position: absolute;
      left: 0;
      height: 200px;
    }
  }
  > .section {
    max-width: 1280px;
    width: 100%;
    padding: 70px 0;
    > .title {
      text-align: left;
      font-family: 'Fjalla One';
      font-size: 36px;
      margin-bottom: 100px;
      position: relative;
      padding-bottom: 15px;
      overflow: auto;
      &.border {
        border-bottom: 1px solid #aaa;
      }
      .sub {
        float: right;
        font-size: 24px;
        margin-top: 8px;
        font-family: 'Fjalla One';
        .quota {
          font-size: 28px;
        }
      }
      a {
        .fa {
          background-color: white;
          border: 2px solid $purple;
          width: 35px;
          height: 35px;
          border-radius: 35px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          color: $purple;
          margin-right: 20px;
          margin-bottom: 5px;
          float: left;
        }
      }
      .subtitle {
        font-size: 20px;
        font-family: 'Source Sans Pro';
        color: #666;
        font-weight: 300;
        margin-top: 10px;
        text-transform: none;
      }
    }
  }
  > .main {
    width: 100%;
    .sections {
      .section {
        margin-top: 70px;
        .title {
          font-size: 24px;
          font-family: "Moon-Bold";
          color: $purple;
        }
        .content {
          font-size: 16px;
          font-weight: 300;
          border: 1px dashed #bbb;
          border-radius: 10px;
          padding: 20px;
          overflow: auto;
          .subtitle {
            margin-bottom: 0;
            font-family: "Moon-Bold";
            color: $purple;
          }
          .subsection {
            margin-top: 40px;
            &:first-child {
              margin-top: 0;
            }
            ul {
              margin-top: 20px;
            }
          }
          ul {
            list-style: circle;
            margin-left: 16px;
            li {
              margin-bottom: 15px;
              &:last-child {
                margin-bottom: 0;
              }
              b {
                color: $purple;
              }
              > ul {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
    .tabs {
      display: flex;
      border-bottom: 1px solid #eee;
      padding-bottom: 80px;
      > .items {
        border: 1px solid #ddd;
        border-radius: 5px;
        font-family: "Moon-Bold";
        font-size: 16px;
        text-align: center;
        color: $mainColor;
        max-width: 210px;
        width: 100%;
        .item {
          text-align: left;
          padding: 20px;
          cursor: pointer;
          &:first-child {
            border-radius: 5px 5px 0 0;
          }
          &:last-child {
            border-radius: 0 0 5px 5px;
          }
          &.active {
            color: white;
            background-color: $purple !important;
          }
          &:hover {
            background-color: #efefef;
          }
        }
      }
      .detail {
      }
    }
  }
}
