#footer {
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    max-width: 66.66em;
    width: 100%;
    padding: 80px 10px;
    text-align: center;
    .form {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33.33em;
        @media (--small-viewport) {
          width: 22em !important;
        }
        input {
          background-color: white;
          border: 2px solid $purpleLight;
          padding: 10px 25px;
          border-radius: 500px;
          font-size: 16px;
          width: 100%;
          margin-bottom: 20px;
          box-sizing: border-box;
        }
        .wrap {
          display: flex;
          justify-content: space-between;
          input {
            width: 48%;
          }
        }
        .signup {
          @mixin purple-btn;
          display: block;
          width: 100%;
          margin-bottom: 0;
          box-sizing: border-box;
          font-size: 1.25em;
          -webkit-appearance: none;
        }
      }
    }
    .menu {
      display: flex;
      justify-content: space-between;
      text-align: left;
      font-size: 14px;
      margin-top: 100px;
      @media (--small-viewport ) {
        margin-left: 30px;
        margin-right: 30px;
      }
      .item {
        .head {
          color: white;
          font-family: "Moon-Bold";
          font-size: 16px;
          margin-bottom: 20px;
        }
        .list {
          .item {
            margin-bottom: 5px;
            a {
              color: #888;
            }
            ::selection {
              background: transparent;
            }
            & > ul {
              display: none;
              color: #888;
              padding-left: 8px;
            }
            .item-dropdown {
              &.active + ul {
                display: block;
              }
              &::after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 2px;
                vertical-align: middle;
                border-top: 4px dashed;
                border-right: 4px solid transparent;
                border-left: 4px solid transparent;
              }
              &.active::after {
                border-top: 0;
                border-bottom: 4px dashed;
              }

            }
          }
        }
        &.community {
          .list {
            display: flex;
            font-size: 32px;
            .item {
              margin-right: 15px;
              a {
                color: white;
              }
            }
          }
        }
      }
    }
    .logo {
      width: 40px;
      display: block;
      margin: 0 auto;
      margin-top: 100px;
      opacity: 0.3;
    }
    .copyright {
      color: #888;
      font-family: "Moon-Light";
      margin-top: 20px;
    }
  }
}
