#index #header {
  height: 100%;
  min-height: 700px;
  @media (--small-viewport) {
    box-sizing: border-box;
    min-height: 500px;
  }
}

#header {
  background-color: $mainColor;
  position: relative;
  z-index: 0;
  color: white;
  a {
    color: white;
  }
  nav {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (--small-viewport) {
      padding: 15px;
    }
    .logo-wrap {
      display: flex;
      align-items: center;
      .logo {
        @media (--small-viewport) {
          img {
            height: 40px;
          }
        }
        img {
          height: 50px;
        }
      }
      .desc {
        margin-left: 20px;
        text-align: center;
        border: 2px solid white;
        padding: 4px 12px;
        border-radius: 0px;
        font-size: 14px;
        color: $mainColorLight;
        background-color: white;
        position: relative;
        @media (--small-viewport) {
          display: none;
        }
        &::after {
          border-color: transparent #fff;
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 4px 6px 4px 0;
          display: block;
          width: 0;
          z-index: 1;
          left: -8px;
          top: 10px;
        }
      }
    }
    .right {
      display: flex;
      font-family: 'Moon-Light';
      font-weight: bold;
      font-size: 14px;
      align-items: center;
      .menu {
        display: flex;
        .item {
          margin: 0 10px;
          white-space: nowrap;
          &:after {
            font-family: 'Source Sans Pro';
            content: "/";
            margin-left: 15px;
            opacity: 0.3;
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
        }
      }
      .sign {
        a {
          font-size: 1.16em;
          display: inline-block;
          margin-left: 20px;
          font-family: 'Moon-Bold';
          white-space: nowrap;
        }
        @media (--small-viewport) {
          .signin {
            display: none !important;
          }
        }
        .signup {
          @mixin purple-btn;
        }
      }
    }
  }
  #background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    .shape {
      width: 400px;
      height: 163px;
      position: absolute;
      @media (--laptop-viewport) {
        zoom: 75%;
      }
      @media (--small-viewport) {
        zoom: 30%;
      }
    }
    .shape1 {
      background: url("/assets/shape1.svg") no-repeat;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
    .shape2 {
      background: url("/assets/shape2.svg") no-repeat;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    canvas {
      opacity: 0.4;
    }
  }
}
