#index #header {
  height: 100%;
  min-height: 700px;
  @media (--small-viewport) {
    box-sizing: border-box;
    min-height: 500px;
  }
}

#header {
  background-color: $mainColor;
  position: relative;
  z-index: 0;
  color: white;
  a {
    color: white;
  }
  nav {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (--laptop-viewport) {
      padding: 30px;
    }
    @media (--small-viewport) {
      padding: 15px;
    }
    .logo-wrap {
      display: flex;
      align-items: center;
      .logo {
        @media (--small-viewport) {
          img {
            height: 40px;
          }
        }
        img {
          height: 50px;
        }
      }
      .desc {
        margin-left: 20px;
        text-align: center;
        border: 2px solid white;
        padding: 4px 12px;
        border-radius: 0px;
        font-size: 14px;
        color: $mainColorLight;
        background-color: white;
        position: relative;
        @media (--small-viewport) {
          display: none;
        }
        &::after {
          border-color: transparent #fff;
          content: '';
          position: absolute;
          border-style: solid;
          border-width: 4px 6px 4px 0;
          display: block;
          width: 0;
          z-index: 1;
          left: -8px;
          top: 10px;
        }
      }
    }
    .right {
      display: flex;
      font-family: 'Moon-Light';
      font-weight: bold;
      font-size: 14px;
      align-items: center;
      .menu {
        display: flex;
        .item {
          position: relative;
          margin: 0 10px;
          white-space: nowrap;

          @media (--laptop-viewport) {
            margin: 0 5px;
          }


          &:hover ul {
            visibility: visible;
            opacity: 1;
          }

          ul {
            visibility: hidden;
            opacity: 0;
            transition: visibility .5s, opacity .3s linear;

            position: absolute;
            left: -8px;
            top: 25px;
            background: $purple;
            border-radius: 5px;
            padding: 5px 0;

            li a {
              display: block;
              padding: 2px 8px;
              text-align: center;
              &:hover {
                background: $purpleLight;
              }
            }
          }

          &:after {
            font-family: 'Source Sans Pro';
            margin-left: 15px;
            opacity: 0.3;
            @media (--laptop-viewport) {
              margin-left: 5px;
            }
          }
          &:last-child {
            &:after {
              content: "";
            }
          }
          .new {
            position: absolute;
            background-color: white;
            padding: 1px 7px;
            border-radius: 100px;
            margin-left: -15px;
            color: $mainColor;
            margin-top: -18px;
            font-size: 12px;
            font-family: "Source Sans Pro";
          }
        }
      }
      .sign {
        a {
          font-size: 1.16em;
          display: inline-block;
          margin-left: 20px;
          font-family: 'Moon-Bold';
          white-space: nowrap;
        }
        @media (--small-viewport) {
          .signin {
            display: none !important;
          }
        }
        .signup {
          @mixin purple-btn;
        }
      }
    }
  }
  #background {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    .shape {
      display: flex;
      @media (--laptop-viewport) {
        zoom: 65%;
      }
      @media (--large-laptop-viewport) {
        zoom: 75%;
      }
      @media (--small-viewport) {
        zoom: 30%;
      }
    }
    .shape-left {
      z-index: 1;
      max-width: 161px;
    }
    .shape-right {
      z-index: 1;
      max-width: 161px;
      transform: scaleX(-1);
    }
    .shape-center {
      max-width: 609px;
      z-index: 1;
      @media (--ipad-viewport) {
        display: none;
      }
    }
  }
}

