@import "base";
@import "common";
@import "highlight";

@import "header";
@import "footer";

@import "unslider";

@import "index/main";
@import "index/cloud";
@import "index/cases";
@import "index/prices";
@import "index/features";
@import "index/start";
@import "index/news";

@import "features/main.css";
@import "howto/main.css";
@import "pricing/main.css";
@import "company/main.css";

@import "responsive/medias.css";
@import "responsive/common.css";
@import "responsive/main.css";
@import "responsive/header.css";
@import "responsive/footer.css";
@import "responsive/index/prices.css";
@import "responsive/index/intro.css";
@import "responsive/index/cases.css";
