<section class="container white topbg">
  <div class="section main">
    <ul class="sections">
      <li class="section">
        <div class="title">> Overview</div>
        <div class="content">
          <p><b>Pi</b> use a pay-per-use billing model, similar to other cloud services, such like AWS EC2. You pay only for the resources you use by the second, no minimum fee.</p>
          <p>To see your bill, go to your <a href="https://console.hyper.sh/billing/history">billing history</a>. Your bill contains links to usage reports that provide details about your bill.</p>
        </div>
      </li>
      <li class="section">
        <div class="title">> Compute</div>
        <div class="content">
          <div>
            <ul>
              <li>
                Image
                <ul>
                  <li>Image is a self-contained package that includes application, configuration and data. Pi will pull your images from 3rd-party registry and launch them. We do not offer our own registry at the moment.</li>
                  <li>Currently image is <b>FREE</b>.</li>
                </ul>
              </li>
              <li>
                Pod
                <ul>
                  <li>Pod is charged by the computational resources it consumes (CPU, RAM) and the duration it runs (by the second).
</li>
                  <li>We provide a set of predefined resource configurations for you to choose when launching pods. Different configurations come with different resource specifications, thus different price.
</li>
                  <li>Billing begins when a pod is started, ends when the pod terminates (through API call), or exits (success or failure).
</li>
                  <li>Everytime a pod is started, a default duration of 60 seconds is applied. If a pod runs for 40s, it will be billed for 60s; if it runs for 100s, it is billed for 100s.
</li>
                </ul>
              </li>
            </ul>

          </div>
          {{> ./table}}
          <h2>Automatic Sustained Use Discounts</h2>
          <p>Similar with Google Compute Engine, your Pods will qualify for a sustained use discount. The discounts are applied automatically and will be calculated and added to your bill. There is no action needed on your part to enable sustained use discounts.</p>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Usage Duration (second)</th>
                  <th>% at which incremental is charged</th>
                  <th>Example (M1 size)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0-600</td>
                  <td>100% of base rate</td>
                  <td>$0.0000144/second</td>
                </tr>
                <tr class="alt">
                  <td>600-3600</td>
                  <td>67% of base rate</td>
                  <td>$0.0000096/second</td>
                </tr>
                <tr>
                  <td>3600+</td>
                  <td>33% of base rate</td>
                  <td>$0.0000048/second</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p><b>Example: </b>For a M1 pod to run for an entire month, the pod will cost:</p>
          <ul>
            <li>First 600 seconds: 600*$0.0000144 = $0.00864</li>
            <li>The next 3000 seconds: 3000*$0.0000096 = $0.0288</li>
            <li>The rest of the month: 3600*(24*30-1)*$0.0000048 = $12.42432</li>
            <li>Total: $0.00864 + $0.0288 + $12.42432 = $12.46176</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Storage</div>
        <div class="content">
          <ul>
            <li>
              Rootfs:
              <ul>
                <li>A pod may have one or more containers.</li>
                <li>Every container comes with a default 10GB rootfs, e.g. if a pod has 3 containers, then it will have 3 rootfs, 30GB in total.</li>
                <li>Rootfs exists along with the lifecycle of the pod. Billing begins when the pod is created, ends when the pod terminates or exits.</li>
                <li>A default duration of 60 seconds is applied.</li>
              </ul>
            </li>
            <li>
              Volume:
              <ul>
                <li>The volume size ranges from 10 to 50 GB, and the default size is 10GB.</li>
                <li>Volume is independent from the pod's lifecycle. Thus, the billing begins when a volume is created, ends upon removal.</li>
                <li>A default duration of 60 seconds is applied.</li>
              </ul>
            </li>
          </ul>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Per Second</th>
                  <th>Per Hour</th>
                  <th>Monthly</th>
                </tr>
              </thead>
              <tbody>
                <tr id="rootfs-row">
                </tr>
                <tr class="alt" id="volume-row">
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
      <li class="section">
        <div class="title">> Network</div>
        <div class="content">
          <ul>
            <li>
              Traffic:
              <ul>
                <li>Currently all network traffic are <b>Free</b>.</li>
              </ul>
            </li>
            <li>
              Service:
              <ul>
                <li>$0.03/hour</li>
                <li>Billing begins when a new service is created, ends when it is deleted. Partial hour will be counted as an hour.</li>
                <li>A default duration of 1 hour is applied.</li>
              </ul>
            </li>
            <li>
              Floating IP:
              <ul>
                <li>If you allocate a floating IP address but do not use it, you will be charged with an hourly rate. If you use it (with Service), you will not be charged for it.</li>
              </ul>
            </li>
          </ul>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Hourly</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Static IP address (assigned but unused)</td>
                  <td>$0.01/IP</td>
                </tr>
                <tr class="alt">
                  <td>Static IP address (assigned and in use)</td>
                  <td>Free</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </li>
    </ul>
    <header class="title border sub">
      <h1>FAQ</h1>
    </header>
    <ul class="sections">
      <li class="section">
        <div class="title">> What payment types do you accept?</div>
        <div class="content">
          Currently, Pi accepts credit or debit cards, including Visa, MasterCard, American Express, JCB, Discover, and Diners Club.
        </div>
      </li>
      <li class="section">
        <div class="title">> Does Pi keep my credit card information?</div>
        <div class="content">
          No, all payments are processed through Stripe, a trusted third party payment processing service. Pi does not retain any credit card information.
        </div>
      </li>
      <li class="section">
        <div class="title">> Why was my card declined?</div>
        <div class="content">
          <p>Our third party payment processing service employs specific checks against card payments. Some of the reasons your card was declined could be:</p>
          <ul>
            <li><b>The zip code you supplied failed validation.</b>: You can leave the Zip Code as blank and try again if your card not located in US.</li>
            <li><b>Your card's security code is incorrect.</b>: Currently we require CVC verification.</li>
            <li><b>Your card does not support this type of purchase.</b>: Please get in touch with your bank to confirm the reason declining the payments.</li>
            <li><b>Your card was declined.</b>: If you make sure all fields was filled in correctly, please get in touch with your bank to confirm the reason declining the payments.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> When will my credit card be charged?</div>
        <div class="content">
          We charge your credit card on the 1st day of each month.
        </div>
      </li>
      <li class="section">
        <div class="title">> How about the billing tax?</div>
        <div class="content">
          Except as otherwise noted, our prices exclude applicable sales tax and VAT. Currently, we charge US sales tax for credit cards issued in the US states of NY and Texas and VAT tax for non-business users based in EU. The tax details will be available in the monthly bill.
        </div>
      </li>
      <li class="section">
        <div class="title">> What happens after outstanding balance?</div>
        <div class="content">
          <ul>
            <li><b>First Payment Attempt</b>: Credit card payment charged on 1st of the month. You will receive email notification of failed credit card charge and to update credit card information in web console.</li>
            <li><b>Second Payment Attempt</b>: Submitted 3 days after first attempt, if the first charge fails, during this period you will be unable to create / update resources in your account.</li>
            <li><b>Third Payment Attempt</b>: Submitted 5 days after second attempt, if the second charge attempt fails. If third attempt fails, we will stop all pods in your account.</li>
            <li>If the balance is due over 30 days, we will deactivate your account (unable to login to web console, removal of all credentials), and permanently purge all resources in your account.</li>
            <li>You can login the web console to update your credit card information, which will trigger new payment request, whenever a payment request succeeds, we will immediately resume your account.</li>
          </ul>
          <p>If you have any questions about an outstanding balance, how to add a payment option, or about billing in general, please feel free to contact <a href="mailto:support@hyper.sh">Support</a>.</p>
        </div>
      </li>
      <li class="section">
        <div class="title">> How do I remove my credit card?</div>
        <div class="content">
          <p>You can go to <a href="https://console.hyper.sh/billing/credit">Credit Page</a> to add/update/delete your credit card.</p>
          <ul>
            <li>First please make sure that there is no payment due and that there are no resources left in your account.</li>
            <li>If there is payment due, you will need to update the credit card to first fullfill the payment.</li>
            <li>Once the credit card information is removed, your account will be limited. You can add a credit card to re-enable your account.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
