#index .container.cases {
  background: url(/assets/features_bg1.svg);
  background-size: contain;
  h1.title {
    @mixin title;
  }
  .content {
    .group {
      display: flex;
      margin-bottom: 50px;
      .item:last-child {
        margin-left: 80px;
      }
    }
  }
  .item {
    display: flex;
    align-items: flex-start;
    img {
      width: 70px;
      margin-right: 20px;
    }
    .title {
      font-size: 24px;
      font-family: 'Fjalla One';
      span {
        margin-left: 20px;
      }
    }
    .desc {
      font-size: 16px;
      margin-top: 10px;
      max-width: 700px;
      font-weight: 300;
    }
  }
}
