#index .container > .cloud {
  position: relative;
  .map {
    position: absolute;
    width: 100%;
    .item {
      position: absolute;
      width: 35px;
      height: 35px;
      border-radius: 50px;
      background-color: white;
      opacity: 0.1;
      &:hover {
        z-index: 3;
        opacity: 1;
        background-color: transparent;
        .desc {
          display: block;
        }
      }
      &.active {
        z-index: 2;
        opacity: 1;
        .desc {
          display: block;
        }
      }
      .desc {
        border: 1px solid white;
        display: none;
        left: -125px;
        bottom: 50px;
        position: absolute;
        width: 250px;
        background-color: $mainColor;
        color: white;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        .title {
          font-family: 'Moon-Bold';
          font-weight: bold;
        }
        .subtitle {
          margin-top: 10px;
          color: #9da3b1;
        }
        &:before {
          content: "";
          width: 250px;
          height: 100px;
          bottom: -50px;
          position: absolute;
          background-color: transparent;
        }
      }
    }
    .item-1 {
      left: 777px;
      top: 97px;
    }
    .item-2 {
      left: 285px;
      top: 108px;
    }
    .item-3 {
      left: 156px;
      top: 81px;
    }
    .item-4 {
      left: 460px;
      top: 132px;
    }
    .item-5 {
      left: 652px;
      top: 176px;
    }
    .item-6 {
      left: 927px;
      top: 105px;
    }
    .item-7 {
      left: 854px;
      top: 2px;
    }
  }
}
