#index .container.features {
  background: url(/assets/features_bg1.svg);
  background-size: contain;
  overflow: hidden;
  @media (--small-viewport) {
    background-size: auto;
  }
  .bg {
    position: absolute;
    left: -150px;
    bottom: -250px;
    opacity: 0.1;
    z-index: -1;
    width: 700px;
    &.right {
      left: auto;
      right: -150px;
    }
    @media (--laptop-viewport) {
      width: 650px;
    }
  }
  .intro-wrap {
    padding: 100px 10px 50px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #424c5c;
    width: 100%;
    margin: 0 auto;
    max-width: 1224px;
    @media (--laptop-viewport) {
      transform: scale(0.85);
      padding: 10px;
    }
    @media (--small-viewport) {
      flex-direction: column;
      padding: 20px 10px 20px 10px;
    }
    .list {
      list-style: circle;
      margin-left: 16px;
      .item {
        margin: 10px 0;
      }
    }
    .intro-title {
      @mixin title;
      position: relative;
      @media (--small-viewport) {
        text-align: center;
        margin-bottom: 50px;
        &::after {
          display: none;
        }
      }
    }
    &.right {
      flex-flow: row-reverse;
      .intro-title {
        &::after {
          right: 0;
          left: auto;
        }
      }
      @media (--small-viewport) {
        flex-direction: column;
      }
    }
    .intro-line {
      width: 600px;
      justify-content: space-between;
      @media (--small-viewport) {
        width: auto;
      }
    }
    .intro {
      margin-bottom: 20px;
      text-align: left;
      display: flex;
      align-items: flex-start;
      @media (--small-viewport) {
        flex-direction: column;
        text-align: center;
      }
      .image {
        min-width: 100px;
        margin-right: 40px;
        @media (--small-viewport) {
          margin: 0 auto;
          margin-bottom: 10px;
        }
      }
      .info {
        text-align: left;
        @media (--small-viewport) {
          text-align: center;
        }
        .head {
          font-family: 'Fjalla One';
          font-weight: bold;
          font-size: 28px;
          min-width: 250px;
          margin-top: 10px;
        }
        .desc {
          font-size: 18px;
          font-weight: 300;
          max-width: 700px;
          margin-top: 10px;
        }
      }
    }
  }
}
