@define-mixin scale $size {
  backface-visibility: hidden;
  transform: translateZ(0);
  transform: scale($size) translateZ(0);
}

#header .main {
  color: white;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  .wrap {
    padding-top: 150px;
    @media (--large-laptop-viewport) {
      @mixin scale 0.8;
    }
    @media (--laptop-viewport) {
      @mixin scale 0.75;
    }
    @media (--ipad-viewport) {
      @mixin scale 0.7;
    }
    @media (--ipad-small-viewport) {
      @mixin scale 0.5;
    }
    @media (--small-than-ipad-viewport) {
      @mixin scale 0.75;
    }
    @media (--small-viewport) {
      padding-top: 5px;
      .entry {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        .title {
          font-size: 3em;
          text-align: center;
        }
        .subtitle {
          font-size: 18px;
          text-align: center;
          padding: 10px;
        }
        .signup {
          margin: 0 auto !important;
        }
      }
    }
    .entry {
      margin-right: 240px;
      margin-bottom: 50px;
      text-align: right;
      position: relative;
      &.zoom {
        opacity: 0.4;
        filter: blur(5px);
      }
      .title {
        font-size: 3.3em;
        font-family: 'Moon-Bold';
        @media (--laptop-viewport) {
          // font-size: 3.5em;
        }
      }
      .subtitle {
        display: none;
        margin-top: 15px;
        font-size: 18px;
        font-family: 'Raleway';
        font-weight: 400;
        color: #ccc;
        #typed {
          color: white;
          font-weight: bold;
        }
      }
      .signup {
        @mixin purple-btn;
        font-family: 'Moon-Bold';
        margin-top: 25px;
        margin-bottom: 35px;
        display: inline-block;
        font-size: 1.25em;
        max-width: 280px;
      }
      .noise {
        background-size: 100%;
      }
      .terminal {
        width: 100%;
        height: 100%;
        max-width: 700px;
        max-height: 235px;
        background-color: #172b46;
        border: 3px solid #284c7b;
        border-radius: 10px 10px 0 0;
        border-bottom: 0;
        position: relative;
        .bar {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          margin: 15px;
          .btn {
            width: 18px;
            height: 18px;
            /*border: 2px solid $mainColor;*/
            border-radius: 18px;
            margin-right: 10px;
            &.red {
              background-color: #8a0000;
            }
            &.green {
              background-color: green;
            }
            &.blue {
              background-color: #005aca;
            }
          }
        }
        .content {
          text-align: left;
          margin-top: 50px;
          margin-left: 20px;
          font-size: 18px;
          font-family: 'Source Code Pro', ;
          .line {
            width: 0px;
            overflow: hidden;
            white-space: nowrap;
            transition: width 6s steps(80, end);
            &::before {
              margin-right: 8px;
              font-family: "Moon-Light";
              font-weight: bold;
              color: #888;
            }
            &.active {
              width: 100%;
              &:before {
                content: "$";
              }
            }
          }
          .result {
            color: #aaa;
            display: none;
            &::before {
              content: "";
              margin-right: 1.33em;
            }
            &.active {
              display: block;
            }
          }
        }
      }
    }
    .cloud-wrap {
      #code {
        text-align: left;
        font-size: 15px;
        position: absolute;
        margin-left: 185px;
        margin-top: 132px;
        box-sizing: border-box;
        transition: all .2s ease-in-out;
        @media (--small-viewport) {
          box-sizing: border-box;
          position: relative;
          margin-left: 0;
          margin-top: 30px;
          border: 2px solid #666;
          padding: 10px;
          width: 100%;
          border-radius: 5px;
          min-height: 230px;
        }
        .line {
          display: inline-block;
        }
        .result {
          color: #aaa;
          display: inline-block;
          margin: 3px 0;
          margin-left: 19px;
          font-style: italic;
        }
      }
      .cloud {
        margin-top: -250px;
        max-width: 1415px;
        @media (--small-viewport) {
          display: none;
        }
      }
    }
  }
}
