$lineWidth: 66.66em;
$itemStart: 3.16em;

#index .container.prices {
  .title {
    @mixin title;
    position: absolute;
  }
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Moon-Bold';
    color: $mainColor;
    .type {
      font-size: 64px;
    }
    .price {
      font-family: 'Source Sans Pro';
      font-size: 18px;
      color: #666;
      font-weight: 300;
    }
    .items {
      margin-top: 50px;
      display: flex;
      min-width: 41.66em;
      justify-content: space-around;
      .item {
        .size {
          font-size: 18px;
          color: #666;
          margin-bottom: 10px;
        }
        .icon {
          width: 65px;
          margin-bottom: 5px;
          @media (--small-viewport) {
            width: 55px;
          }
        }
        .name {
          font-size: 18px;
        }
      }
    }
    .slider {
      margin-top: 30px;
      min-width: $lineWidth;
      @media (--small-viewport) {
        width: 100%;
      }
      position: relative;
      .line {
        border: 1px solid #ddd;
        height: 3px;
        background-color: white;
        position: absolute;
        left: $itemStart;
        right: $itemStart;

        top: 54px;
        z-index: 0;
      }
      .items {
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: space-around;
        .item {
          width: 4.16em;
          color: #aaa;
          .circle {
            background-color: white;
            border: 2px solid #aaa;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin: 0 auto;
            margin-bottom: 5px;
          }
          .type {
            font-size: 14px;
          }
          &.active {
            cursor: pointer;
            color: $mainColor;
            .circle {
              background-color: $purpleLight;
              border: 2px solid $purple;
            }
          }
        }
      }
    }
    .learn {
      @mixin purple-btn;
      margin-top: 50px;
    }
  }
}
