<section class="container white topbg">
  <div class="section main">
    <div class="tabs">
      <article class="detail detail-0 active">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/no_vm.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">RESOURCE DEFINE</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/pod.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">POD SUPPORT</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/volume.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">VOLUME</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/fip.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">PUBLIC FIP</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/k8s.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">NATIVE K8S API</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/console.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">WEB CONSOLE</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
        </ul>
      </article>
    </div>
    <div class="links">
      <a href="https://console.hyper.sh/register" class="btn active">GET STARTED</a>
      <a href="/swarm" class="btn">SEE SWARM</a>
    </div>
  </div>
</section>
