<section class="container white topbg">
  <div class="section main">
    <header class="title border left">
      <h1>Customer Stories</h1>
      <!-- <span class="sub"><span class="quota">"</span>We don't manage your cluster, we make it go away.<span class="quota">"</span></span> -->
    </header>
    <div class="content">
      <ul class="list">
        <li class="item">
          <div class="video"><iframe src="https://www.youtube.com/embed/6t4uJWjmQao" frameborder="0" allowfullscreen></iframe></div>
          <h2 class="title">John Kelvie - CTO @ bespoken.tools</h2>
          <p class="desc">In this user interview John Kelvie bespoken.tools tells us how he is using Hyper.sh to build highly-available development tools for Alexa Skills developers. John apparently already posited a service such as Hyper.sh before finding us and so far finds it an excellent match for his needs, but would like to see another data center. We're working on it!</p>
        </li>
        <li class="item">
          <div class="video"><iframe src="https://www.youtube.com/embed/upJesrmXIHE" frameborder="0" allowfullscreen></iframe></div>
          <h2 class="title">Gareth Rushgrove - PuppetLabs & DevopsWeekly</h2>
          <p class="desc">In this user interview Gareth Rushgrove of PuppetLabs & Devops Weekly tells us how Hyper.sh makes it simple for him to quickly develop and share Puppet configurations. We also touch on why Hyper.sh is ideal for batch workloads and discuss a couple of ideas about how Hyper Cron could be extend to support batch work flows.</p>
        </li>
      </ul>
      <ul class="list">
        <li class="item">
          <div class="video"><iframe src="https://www.youtube.com/embed/_l1gR86Uz30" frameborder="0" allowfullscreen></iframe></div>
          <h2 class="title">Tom Maiaroto - serifandsemaphore.io</h2>
          <p class="desc">In this interview user Tom Maiaroto explains how Hyper.sh is removing the ops overhead so he can concentrate on his clients. He talks about running ETL tasks with Hyper and how Hyper Cron has helped him to get further with this, and last we touch on how some sort of queue in Hyper would be useful.</p>
        </li>
        <li class="item">
          <div class="video"><iframe src="https://www.youtube.com/embed/FNPPOOUKoYg" frameborder="0" allowfullscreen></iframe></div>
          <h2 class="title">Conor Nash - conornash.com</h2>
          <p class="desc">In this interview user Conor Nash explains how Hyper.sh is helping him to scale his St.Louis based data science consultancy further than was previously possible. By not having to manage a VM cluster or container orchestration layer himself, he frees himself and his staff up to work on value adding activities for his clients.</p>
        </li>
      </ul>
      <ul class="list">
        <li class="item">
          <div class="video"><iframe src="https://www.youtube.com/embed/O2xx6xiuw1A" frameborder="0" allowfullscreen></iframe></div>
          <h2 class="title">Charlie Offenbacher - CTO @ The Book Rocket</h2>
          <p class="desc">In the first of a new series of interviews with Hyper.sh users we speak to Charlie Offenbacher, CTO @ The Book Rocket about why he chose Hyper.sh and his adventures along the way.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
