<!DOCTYPE html>
<html>
  <head>
    <title>Hyper.sh - Serverless Container Platform, No VM to manage, No cluster to schedule</title>
    {{> ../commons/head}}
  </head>
  <body id="index">
    <header id="header">
      {{> ../commons/header}}
      {{> ../index/main}}
    </header>
    <article class="main">
      {{> ../index/features}}
      {{> ../index/prices}}
      {{> ../index/cases}}
      {{> ../index/news}}
    </article>
    <footer id="footer">
      <article class="content">
        {{> ../commons/footer}}
      </article>
    </footer>
  </body>
</html>
