<section class="container white">
  <div class="section main">
    <header class="title">
      <span>How To</span>
      <span class="sub"><span class="quota">"</span>NO OPS, NO CRY!<span class="quota">"</span></span>
    </header>
    <div class="tabs">
      <ul class="items">
        <li class="item active">Link Containers</li>
        <li class="item">Load Balancing</li>
        <li class="item">Run stateful container with Volume</li>
        <li class="item">Backup Data using Snapshot</li>
        <li class="item">Auto-Restart failed containers</li>
      </ul>
      <article class="detail detail-0 active">
        <div class="intro">
          <img src="/assets/icons/howto/link.svg" class="graph">
          <div class="desc">A web application consumes PostgreSQL by Docker style link</div>
        </div>
        <div class="terminal" id="asciicast1"></div>
      </article>
      <article class="detail detail-1">
        <div class="intro">
          <img src="/assets/icons/howto/loadbalancer.svg" class="graph">
          <div class="desc">A load balancer with public IP to proxy two web servers</div>
        </div>
        <div class="terminal" id="asciicast2"></div>
      </article>
      <article class="detail detail-2">
        <div class="intro">
          <img src="/assets/icons/howto/loadbalancerx.svg" class="graph">
          <div class="desc">TODO</div>
        </div>
        <div class="terminal" id="asciicast5"></div>
      </article>
      <article class="detail detail-3">
        <div class="intro">
          <img src="/assets/icons/howto/snapshot.svg" class="graph">
          <div class="desc">Create a persistent volume, snapshot it, and restore the volume from snapshot</div>
        </div>
        <div class="terminal" id="asciicast3"></div>
      </article>
      <article class="detail detail-4">
        <div class="intro">
          <img src="/assets/icons/howto/fip.svg" class="graph">
          <div class="desc">Attach a floating IP to one web server, failover when this web server is down</div>
        </div>
        <div class="terminal" id="asciicast4"></div>
      </article>
    </div>
  </div>
</section>
