<section class="container white topbg">
  <div class="section main">
    <ul class="sections">
      <li class="section">
        <div class="title">> Overview</div>
        <div class="content">
          <p><b>HyperForm</b> is a command-line tool that allows companies to provision, deploy, and orchestrate containerized application on AWS with a serverless workflow. </p>
      </li>
      <li class="section">
        <div class="title">> Ease of Use</div>
        <div class="content">
          <div>
            <ul>
              <li>
                ClusterlessServerless “Everything”
                <ul>
                  <li>No need to provision/manage VM cluster to host container</li>
                  <li>No need of container scheduling / placement</li>
                  <li>No need to manage VM (and image)</li>
                  <li>No need to pay for resources that you don’t use</li>
                </ul>
              </li>
              <li>
                Developer friendly CLI interface
                <ul>
                  <li>You know Docker, You know HyperForm!</li>
                  <li>Consistent workflow and commands across clouds.</li>
                </ul>
              </li>
              <li>
                Admin friendly Dashboard
                <ul>
                  <li>Ability to view all resources, metrics, users in single pane of glass</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="section">
        <div class="title">> Cost Optimization</div>
        <div class="content">
          <ul>
            <li>
              Ability for Developers to launch containers on “spot instances” for reduced cost
            </li>
            <li>
              Dashboard provides overview of all running containers, associated costs per cloud
            </li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Governance through "HyperForm Access Control"</div>
        <div class="content">
          <ul>
            <li>
              Policy driven controls to Enable Self-Service
            </li>
            <li>
              Team accounts
            </li>
            <li>
              SSO single sign on
            </li>
            <li>
              Credentials management
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="links">
      <a href="###" class="btn active">Download</a>
      <a href="/hyper" class="btn">SEE Hyper</a>
    </div>
  </div>
</section>
