@import "table";

#pricing .container > .main {
  max-width: 1024px;
  .sections {
    .section {
      @mixin table;
      .table {
        margin-bottom: 30px;
      }
      .desc {
        font-weight: 400;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
  > .title {
    display: flex;
    justify-content: space-between;
    @media (--small-viewport) {
      display: block;
    }
    h1 {
      display: flex;
      align-items: center;
    }
  }
}
