<section class="container white topbg">
  <div class="section main">
    <header class="title border">
      <h1>
        Pricing
        <div class="region-select-wrap">
          <select name="Region" class="region-select active">
            <option value="">Los Angeles</option>
            <option value="frankfurt">Frankfurt</option>
          </select>
        </div>
      </h1>
      <span class="sub"><span class="quota">"</span>It is a crime to pay for an entire hour just to power-on an instance.<span class="quota">"</span></span>
    </header>
    <ul class="sections">
      <li class="section">
        <div class="title">> Container</div>
        <div class="content">
          {{> ./table}}
          <ul>
            <p> * All containers include a 10GB rootFS disk volume which is billed separately. See 'Storage' section below.</p>
            <li>Billing begins when Hyper.sh launches a new container or start a stopped container, ends when the container stops or terminates, either through an API call, or through container exists (success or failure).</li>
            <li>Everytime you issue a <code>hyper run/start/restart</code> request, a default period of 10 seconds is billed. If a container runs for 5s, it will be billed for 10s; if it runs for 30s, it is billed for 30s.</li>
            <li>Everytime a container is restarted, a default period of 10 seconds is billed. If a container runs for 5s, it will be billed for 10s; if it runs for 30s, it is billed for 30s.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Service</div>
        <div class="content">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Per Second</th>
                  <th>Per Hour</th>
                  <th>Monthly</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>$0.000003</td>
                  <td>$0.0108</td>
                  <td>$7.78</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul>
            <p>* Hyper Service provides extra specific functionality and is not necessary for most use cases, for more information please consult the documentation <a href="https://docs.hyper.sh/Feature/container/service.html">here.</a></p>
            <li>Billing begins when a new service created, ends when it is terminated.</li>
            <li>Everytime you issue a <code>hyper run/start/restart</code> request, a default period of 10 seconds is billed. If a container runs for 5s, it will be billed for 10s; if it runs for 30s, it is billed for 30s.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Hyper Cron (BETA)</div>
        <div class="content">
          <ul>
            <li>During the beta, Hyper Cron is charged at the standard per-second container rates.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Hyper Func (BETA)</div>
        <div class="content">
          <ul>
            <li>During the beta, Hyper Func is charged at the standard per-second container rates.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Storage</div>
        <div class="content">
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Per Second</th>
                  <th>Per Hour</th>
                  <th>Monthly</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Image</td>
                  <td>$0.0000000386/GB</td>
                  <td>$0.0001388889/GB</td>
                  <td>$0.1/GB</td>
                </tr>
                <tr class="alt">
                  <td>RootFS</td>
                  <td>$0.0000000386/GB</td>
                  <td>$0.0001388889/GB</td>
                  <td>$0.1/GB</td>
                </tr>
                <tr>
                  <td>Volume</td>
                  <td>$0.0000000386/GB</td>
                  <td>$0.0001388889/GB</td>
                  <td>$0.1/GB</td>
                </tr>
                <tr class="alt">
                  <td>Snapshot</td>
                  <td>$0.0000000193/GB</td>
                  <td>$0.0000694444/GB</td>
                  <td>$0.05/GB</td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul>
            <li>Billing begins when the storage object is created (<code>hyper pull</code>, <code>hyper run</code>, <code>hyper volume create</code>, <code>hyper snapshot create</code>), and a default period of 10 seconds is billed, ends upon removal.</li>
            <li>Images are charged per GB with a minimum of 1GB and will be rounded UP to nearest GB (i.e. 1.5GB billed at 2GB).</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Network</div>
        <div class="content">
          <ul>
            <li>
              <b>Floating IP:</b> $1/IP/month
              <ul>
                <li>Billing begins when a new Floating IP is allocated, ends when it is released. Partial month is treated as a entire month.</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> Examples</div>
        <div class="content">
          <ul>
            <li>
              Cheapest single container with a publicly accessible IP (FIP) assuming a 1GB Docker image size.
              <ul>
                <li>S1 container: 1.03/month</li>
                <li>FIP: $1/month</li>
                <li>RootFS Container Volume (10GB@$0.1/GB/month): $1/month</li>
                <li>Container Image (1GB@$0.1/GB/month): $0.1</li>
                <li><b>Total monthly price:</b> $3.13/month</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <header class="title border sub">
      <h1>General FAQ</h1>
    </header>
    <ul class="sections">
      <li class="section">
        <div class="title">> Does Hyper.sh offer a free tier?</div>
        <div class="content">
          <ul>
            <li>Hyper.sh offers a free tier plan for up to 2 months by adding a credit card.</li>
            <li>During the free tier period you will incur no costs for the following resources: 1 Container (<= S4), 1 Image, 1 Volume, 1 Floating IP.</li>
            <li>Once the free tier period ends, you will be charged accordingly each month for all resources.</li>
            <li>During the free tier period if we find that resources are being abused we will delete your account and associated resources without notice. We reserve the right to define abusive usage.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> What payment types do you accept?</div>
        <div class="content">
          Currently, Hyper.sh accepts credit or debit cards, including Visa, MasterCard, American Express, JCB, Discover, and Diners Club.
        </div>
      </li>
      <li class="section">
        <div class="title">> Does Hyper.sh keep my credit card information?</div>
        <div class="content">
          No, all payments are processed through Stripe, a trusted third party payment processing service. Hyper.sh does not retain any credit card information.
        </div>
      </li>
      <li class="section">
        <div class="title">> Why was my card declined?</div>
        <div class="content">
          <p>Our third party payment processing service employs specific checks against card payments. Some of the reasons your card was declined could be:</p>
          <ul>
            <li><b>The zip code you supplied failed validation.</b>: You can leave the Zip Code as blank and try again if your card not located in US.</li>
            <li><b>Your card's security code is incorrect.</b>: Currently we require CVC verification.</li>
            <li><b>Your card does not support this type of purchase.</b>: Please get in touch with your bank to confirm the reason declining the payments.</li>
            <li><b>Your card was declined.</b>: If you make sure all fields was filled in correctly, please get in touch with your bank to confirm the reason declining the payments.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <div class="title">> When will my credit card be charged?</div>
        <div class="content">
          We charge your credit card on the 1st day of each month.
        </div>
      </li>
      <li class="section">
        <div class="title">> How about the billing tax?</div>
        <div class="content">
          Except as otherwise noted, our prices exclude applicable sales tax and VAT. Currently, we charge sales tax for credit cards issued in the US states of NY and Texas. The tax details will be available in the monthly bill.
        </div>
      </li>
      <li class="section">
        <div class="title">> What happens after outstanding balance?</div>
        <div class="content">
          <ul>
            <li><b>First Payment Attempt</b>: Credit card payment charged on 1st of the month. You will receive email notification of failed credit card charge and to update credit card information in web console.</li>
            <li><b>Second Payment Attempt</b>: Submitted 3 days after first attempt, if the first charge fails, during this period you will be unable to create / update resources in your account.</li>
            <li><b>Third Payment Attempt</b>: Submitted 5 days after second attempt, if the second charge attempt fails. If third attempt fails, we will stop all containers in your account.</li>
            <li>If the balance is due over 30 days, we will deactivate your account (unable to login to web console, removal of all credentials), and permanently purge all resources in your account.</li>
            <li>You can login the web console to update your credit card information, which will trigger new payment request, whenever a payment request succeeds, we will immediately resume your account.</li>
          </ul>
          <p>If you have any questions about an outstanding balance, how to add a payment option, or about billing in general, please feel free to contact <a href="mailto:support@hyper.sh">Hyper.sh Support</a>.</p>
        </div>
      </li>
      <li class="section">
        <div class="title">> How do I remove my credit card?</div>
        <div class="content">
          <p>You can go to <a href="https://console.hyper.sh/billing/credit">Credit Page</a> to add/update/delete your credit card.</p>
          <ul>
            <li>First please make sure that there is no payment due and that there are no resources left in your account.</li>
            <li>If there is payment due, you will need to update the credit card to first fullfill the payment.</li>
            <li>Once the credit card information is removed, your account will be limited. You can add a credit card to re-enable your account.</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
