<section class="container white topbg">
  <div class="section main">
    <header class="title border">
      <h1>Pricing</h1>
      <span class="sub"><span class="quota">"</span>It is a crime to pay for an entire hour just to power-on an instance.<span class="quota">"</span></span>
    </header>
    <ul class="sections">
      <li class="section">
        <h2 class="title">> Container</h2>
        <div class="content">
          {{> ./table}}
          <ul>
            <li>Billing begins when Hyper.sh launches a new container or start a stopped container, ends when the container stops or terminates, either through an API call, or through container exists (success or failure).</li>
            <li>Everytime you issue a <code>hyper run/start/restart</code> request, a default period of 10 second is billed. If a container runs for 5s, it will be billed for 10s; if it runs for 30s, it is billed for 30s.</li>
            <li>Everytime a container is restarted, a default period of 10 second is billed. If a container runs for 5s, it will be billed for 10s; if it runs for 30s, it is billed for 30s.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <h2 class="title">> Service</h2>
        <div class="content">
        <div class="table">
          <table>
            <thead>
              <tr>
                <th>Per Second</th>
                <th>Per Hour</th>
                <th>Monthly</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>$0.000003</td>
                <td>$0.0108</td>
                <td>$7.78</td>
              </tr>
            </tbody>
          </table>
        </div>
          <ul>
            <li>Billing begins when a new service created, ends when it is terminated.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <h2 class="title">> Storage</h2>
        <div class="content">
          <ul>
            <li><b>Image:</b> $0.1/GB/month</li>
            <li><b>Volume:</b> $0.1/GB/month</li>
            <li>
              <b>Snapshot:</b> $0.05/GB/month
              <ul>
                <li>Billing begins when the storage object is created (<code>hyper volume create</code>, <code>hyper snapshot create</code>, <code>hyper pull</code>), ends upon removal.</li>
                <li>Images are charged per GB with a minimum of 1GB and will be rounded UP to nearest GB (i.e. 1.5GB billed at 2GB).</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="section">
        <h2 class="title">> Network</h2>
        <div class="content">
          <ul>
            <li>
              <b>Floating IP:</b> $1/IP/month
              <ul>
                <li>Billing begins when a new Floating IP is allocated, ends when it is released. Partial month is treated as a entire month.</li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="section">
        <h2 class="title">> Tax</h2>
        <div class="content">
          <ul>
            <li>
              Except as otherwise noted, our prices are exclusive of applicable taxes and duties, including VAT and applicable sales tax. Currently, we charges VAT for credits cards issued in NY and Texas. The tax details will be available in the monthly bill.
            </li>
          </ul>
        </div>
      </li>
      <li class="section">
        <h2 class="title">> Billing Period</h2>
        <div class="content">
          <ul>
            <li>We charge your credit card on the 1st day of each month after usage.</li>
          </ul>
        </div>
      </li>
      <li class="section">
        <h2 class="title">> Outstanding Balance</h2>
        <div class="content">
          <div class="desc">Balances are considered outstanding if a payment has failed to process on the first of the month. In such case, we will notify you over emails, and re-submit the payment request:</div>
          <ul>
            <li>Re-submit after 3 days if the first request failed</li>
            <li>Re-submit after 5 days if the second request failed</li>
            <li>Re-submit after 7 days if the third request failed, and during this period you will not be able to create / update resource in your account</li>
            <li>If the fourth request failed, we will stop the containers in your account, but you can login the web console to update the credit card information, which will trigger new payment request</li>
            <li>If the balance is due over two months, we will deactivate your account (unable to login web console and all credential will be removed), and purge all resources in your account permanently</li>
            <li>Whenever a payment request succeeded, we will immediately resume your account</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
