<div class="table">
  <table>
    <thead>
      <tr>
        <th>Size</th>
        <th>CPU Core</th>
        <th>Mem</th>
        <th>Disk</th>
        <th>Network</th>
        <th>Per Second</th>
        <th>Per Hour</th>
        <th>Monthly</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>S1</td>
        <td>1</td>
        <td>64MB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.0000004</td>
        <td>$0.00144</td>
        <td>$1.03</td>
      </tr>
      <tr class="alt">
        <td>S2</td>
        <td>1</td>
        <td>128MB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.0000006</td>
        <td>$0.00216</td>
        <td>$1.55</td>
      </tr>
      <tr>
        <td>S3</td>
        <td>1</td>
        <td>256MB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.000001</td>
        <td>$0.0036</td>
        <td>$2.59</td>
      </tr>
      <tr class="alt">
        <td>S4</td>
        <td>1</td>
        <td>512MB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.000002</td>
        <td>$0.0072</td>
        <td>$5.18</td>
      </tr>
      <tr>
        <td>M1</td>
        <td>1</td>
        <td>1GB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.000004</td>
        <td>$0.0144</td>
        <td>$10.36</td>
      </tr>
      <tr class="alt">
        <td>M2</td>
        <td>2</td>
        <td>2GB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.000008</td>
        <td>$0.0288</td>
        <td>$20.73</td>
      </tr>
      <tr>
        <td>M3</td>
        <td>2</td>
        <td>4GB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.000015</td>
        <td>$0.054</td>
        <td>$38.88</td>
      </tr>
      <tr class="alt">
        <td>L1</td>
        <td>4</td>
        <td>4GB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.00003</td>
        <td>$0.108</td>
        <td>$77.76</td>
      </tr>
      <tr>
        <td>L2</td>
        <td>4</td>
        <td>8GB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.00006</td>
        <td>$0.216</td>
        <td>$155.52</td>
      </tr>
      <tr class="alt">
        <td>L3</td>
        <td>8</td>
        <td>16GB</td>
        <td>10GB*</td>
        <td>FREE</td>
        <td>$0.00012</td>
        <td>$0.432</td>
        <td>$311.04</td>
      </tr>
    </tbody>
  </table>
</div>
