<section class="container white topbg">
  <div class="section main">
    <div class="tabs">
      <article class="detail detail-0 active">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/k8s.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">Kubernetes API</div>
              <div class="subtitle">Pi supports Kubernetes APIs (starting from Pod, Service, etc.), which gives better portability and easy integration with the ecosystem.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/no_vm.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">Serverless Container</div>
              <div class="subtitle">There is no VM cluster to manage in Pi. Simply call our REST API to launch container on demand. Perfect fit for CI/CD, Data Analysis, Machine Learning, etc.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/5s.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">5 Seconds Provisioning</div>
              <div class="subtitle">Your container will be up and running in 5 seconds. The fastest in the market!</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/volume.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">Persistent Volume</div>
              <div class="subtitle">Run your stateful workloads with <a href="/">Hyper.sh</a>'s persistent volumes. Multiple replicas will be automatically created with each volume to protect your data from failure.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/network.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">Private Network</div>
              <div class="subtitle">Your containers will run in your own Layer-2 private network. The traffic is completely isolated from other tenants and outside.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/console.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">WEB CONSOLE</div>
              <div class="subtitle">Control and monitor your containers through our web console. A visual and intuitive way to measure how your containers perform.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/k8s-features/fip.svg" class="icon" alt="Container-native Cloud, Docker, Container"></div>
            <div class="info">
              <div class="title">Floating IP</div>
              <div class="subtitle">A floating IP is a publicly-accessible IP address that can be used as <code>External IP</code> to expose _Services_ to public. Floating IPs can also be remapped to other servies in the same region, to provide failover.</div>
            </div>
          </li>
        </ul>
      </article>
    </div>
    <div class="links">
      <a href="https://console.hyper.sh/register" class="btn active">GET STARTED</a>
      <a href="/hyper" class="btn">SEE Hyper</a>
    </div>
  </div>
</section>
