<!DOCTYPE html>
<html>
  <head>
    <title>Hyper.sh{{#if title}} - {{title}}{{/if}}</title>
    {{> ../commons/head}}
  </head>
  <body id="{{active}}" class="product">
    <header id="header">
      {{> ../commons/header}}
    </header>
    {{> ./menu this}}