.product .main > .container.topbg {
    background: none;
    margin-top: 6.5em;
    &::before {
      background: none;
    }
    &::after {
      background: none;
    }
}

.product .container > .main {
  padding-top: 0 !important;

  .tabs {
    flex-direction: column;
    display: flex;
    padding-bottom: 5em;

    @media (--ipad-small-viewport) {
      font-size: 10px;
    }

    @media (--small-than-ipad-viewport) {
      height: auto;
      > .items {
        display: none;
      }
      .detail {
        margin-left: 0;
        margin-top: 3.33em;
        display: block;
        min-height: unset;
        .items {
          flex-direction: column;

          .item {
            width: auto;
          }
        }
      }
    }

    > .items {
      font-family: 'Fjalla One';
      font-size: 1.33em;
      text-align: center;
      color: #424C5C;
      width: 100%;
      display: flex;
      justify-content: center;

      .item {
        text-align: center;
        padding: 11px 30px;
        cursor: pointer;
        font-size: 1.8em;
        flex-grow: 1;
        text-transform: uppercase;
        &.active {
          border-bottom: #6D3BC6 3px solid;
        }
      }
    }
    .detail {
      display: none;
      margin-top: 5.5em;
      align-content: space-between;
      min-height: 30.16em;
      &.active {
        display: block;
      }
      > .title {
        font-size: 2em;
        font-weight: 300;
        color: #555;
        margin-top: 1.66em;
        margin-bottom: 4.16em;
      }
      .items {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 100%;
        .item {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          width: 33.3%;
          margin-bottom: 3.33em;
          &:last-child {
            margin-bottom: 0;
          }
          .icon-wrap {
            /*width: 120px;*/
            display: flex;
            align-items: center;
            .icon {
              text-align: center;
              margin-right: 1.66em;
              width: 6.66em;
              @at-root {
                .kubernetes .icon {
                  width: 65px !important;
                }
              }
            }
          }
          .title {
            font-size: 18px;
            font-family: "Moon-Bold";
            color: $purple;
          }
          .subtitle {
            font-size: 1.33em;
            margin-top: 0.83em;
            font-weight: 400;
            max-width: 25em;
            color: #555;

            a {
              color: #69A3FF;
              font-weight: 500;
            }
          }
        }
      }
    }
  }

  .links {
    text-align: center;
    .btn {
      @mixin white-btn;
      display: inline-block;
      font-size: 1.25em;
      font-family: 'Poppins';
      &:first-child {
        margin-right: 1.8em;
      }
      &.active {
        @mixin purple-btn;
        font-family: 'Poppins';
        font-size: 1.25em;
      }
    }


  }
}
