
.product > .menu {
  background: #E2EFFF;
  font-family: 'Moon-Bold';


  @media (--small-viewport) {
    > .content {
      > .btns {
        display: none;
      }
    }
  }

  @media (--mac-viewport) {
    > .content {
      .left {
        margin-left: 2em;
      }
      .btns {
        margin-right: 2em;
      }
    }
  }

  .content {
    height: 6.67em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;

    .logo {
      height: 39px;
      margin-right: 14px;
    }

    .left {
      display: flex;
      align-items: center;
      font-size: 1.67em;
      color: #424C5C;
      flex-direction: row;
    }
    .btns {
      display: flex;
      justify-content: space-between;

      &.features .btn-features,
      &.pricing .btn-pricing,
      &.docs .btn-docs {
        background: white;
      }

      .btn {
        text-align: center;
        background-color: #EBDEFF;
        border: 2px solid #424C5C;
        padding: 8px 14px;
        margin-right: 1.66em;
        border-radius: 500px;
        font-size: 14px;
        font-family: 'Moon-Bold';
        color: #424C5C;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          margin-right: 0;
        }

        &::before {
          content: "";
          width: 15px;
          height: 15px;
          margin-right: 5px;
          margin-bottom: 2px;
        }

        &.btn-features {
          & > & {background: white;}
          &::before {
            background-image: url("/assets/images/features.svg");
          }
        }
        &.btn-pricing {
          & > &{background: white;}
          &::before {
            width: 18px;
            height: 18px;
            background-image: url("/assets/images/pricing.svg");
          }
        }
        &.btn-docs {
          & & {background: white;}
          &::before {
            height: 17px;
            background-image: url("/assets/images/docs.svg");
          }
        }
      }

    }


  }


}