@define-mixin table {
  .table {
    background:#fff;
    overflow:hidden;
    border:1px solid #652299;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    overflow: auto;
    table {
      border-collapse:collapse;
      width:100%;
      td, th {
        padding:10px 15px;
      }
      thead {
        th {
          background-color:#652299;
          color:#FFFFFF;
          font-size:16px;
          font-weight:bold;
          border-left:1px solid #714399;
          font-family: "Moon-Bold";
          &:first-child {
            border:none;
          }
        }
        td {
          color:#4D1A75;
          border-left:1px solid #E7BDFF;
          font-size:12px;
          font-weight:normal;
        }
      }
    }
    tbody {
      .alt td {
        background:#F4E3FF;
        /*color:#4D1A75;*/
        &:first-child {
          border-left:none;
        }
      }
      tr:last-child td {
        border-bottom:none;
      }
    }
  }
}

#pricing .container > .main {
  max-width: 1024px;
  .sections {
    .section {
      @mixin table;
      .table {
        margin-bottom: 30px;
      }
      .desc {
        font-weight: 400;
        margin-bottom: 20px;
        display: block;
      }
    }
  }
  > .title {
    display: flex;
    justify-content: space-between;
    @media (--small-viewport) {
      display: block;
    }
    h1 {
      display: flex;
      align-items: center;
    }
  }
}

 #pricing .main .container > .main .sections .section:first-child {
   margin-top: 30px;
 }
