<section class="container white topbg">
  <div class="section main">
    <header class="title border left">
      <h1>Features</h1>
      <span class="sub"><span class="quota">"</span>We don't manage your cluster, we make it go away.<span class="quota">"</span></span>
    </header>
    <div class="tabs">
      <ul class="items">
        <li class="item active">Workflow</li>
        <li class="item">Container</li>
        <li class="item">Storage</li>
        <li class="item">Network</li>
        <li class="item">Logging & Monitoring</li>
        <li class="item">Image</li>
        <li class="item">Hardware</li>
      </ul>
      <article class="detail detail-0 active">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/cli.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">CLI</div>
              <div class="subtitle">Hyper.sh's CLI is designed to be consistent with Docker. It is our #1 rule to make sure that you can use Hyper.sh if you can use Docker locally.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/api.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">API</div>
              <div class="subtitle">RESTful APIs are provided to allow you to easily automate your workflow.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/console.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Web Console</div>
              <div class="subtitle">Control and monitor your containers through our web console. A visual and intuitive way to measure how your containers perform.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/compose.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Compose</div>
              <div class="subtitle">Deploy multi-container applications with your docker-compose.yml nearly as-is!</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/cron.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Serverless Cron</div>
              <div class="subtitle">schedule serverless cron jobs using Docker images by simply <code>hyper cron create</code>.</div>
            </div>
          </li>
        </ul>
      </article>
      <article class="detail detail-1">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/security.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Security</div>
              <div class="subtitle">Hyper.sh applies hardware-enforced isolation to containers, combining the security of virtual machines with the performance and immutability of containers.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/deploy.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Deploy in 5s</div>
              <div class="subtitle">Enter <code>hyper run</code> on your laptop; wait 5 seconds; your app is up and running!</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/service.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Service</div>
              <div class="subtitle">Service automatically do the load balancing across your container fleet, and provision new replicas to replace the bad ones.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/small.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Nano Container Size</div>
              <div class="subtitle">Breakdown your monolithic application to micro-services architecture with Hyper.sh's nano containers (64MB mem). They are agile, efficient, and cost effective.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/restart.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Auto Restart</div>
              <div class="subtitle">Container crashes at 4am? No worry, define the restart policy and Hyper.sh will take care of the rest.</div>
            </div>
          </li>
        </ul>
      </article>
      <article class="detail detail-2">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/volume.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Persistent Volumes</div>
              <div class="subtitle">Run your stateful workloads with Hyper.sh's persistent volumes. Multiple replicas will be automatically created with each volume to protect your data from failure.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/snapshot.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Point-in-time Snapshot</div>
              <div class="subtitle">Take point-in-time snapshots of your volumes, for data backup/restore.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/mount.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Mount from local or git repo</div>
              <div class="subtitle">Mount the code from your local drive or git repos with <code>hyper run -v /local:/container</code> or <code>hyper run -v github.com/my.git/tag:/container</code></div>
            </div>
          </li>
        </ul>
      </article>
      <article class="detail detail-3">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/network.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Layer-2 Private Network</div>
              <div class="subtitle">Your containers will run in your own Layer-2 network. The traffic is completely isolated from other users and the rest of the world.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/ip.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Floating IP</div>
              <div class="subtitle">A floating IP is a publicly-accessible IP address that can be assigned to one container. Floating IPs can also be remapped to other containers in the same region, to provide failover of a container or application.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/port.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Publish Port</div>
              <div class="subtitle">Specify which port to expose and remap to the port you prefer.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/sg.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Security Group</div>
              <div class="subtitle">Setup virtual firewall that controls the traffic for containers</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/traffic.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">FREE Network Traffic</div>
              <div class="subtitle">All in/out/inter-container network traffic is FREE!</div>
            </div>
          </li>
        </ul>
      </article>
      <article class="detail detail-4">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/monitoring.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Real-time Monitoring</div>
              <div class="subtitle">Metrics are monitored in real-time to give you an unparalleled level of insight into the performance of your containers.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/logs.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Container Logs</div>
              <div class="subtitle">We store the latest output from your container's STDOUT and STDERR, and make them easily retrievable from your laptop with the simple hyper logs command.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/event.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Container Event</div>
              <div class="subtitle">Keep watching when a new container is launched, or a running one exited? Our websocket API keeps you posted in realtime!</div>
            </div>
          </li>
        </ul>
      </article>
      <article class="detail detail-5">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/registry.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Public/Private Registry</div>
              <div class="subtitle">Hyper.sh supports both public and private Docker registries. All you need to do is hyper pull and hyper run.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/s3.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Load Image</div>
              <div class="subtitle">In case you cannot use a registry, Hyper.sh allows to load images from archive files.</div>
            </div>
          </li>
        </ul>
      </article>
      <article class="detail detail-6">
        <ul class="items">
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/hardware.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Amazing Hardware</div>
              <div class="subtitle">All our servers are built on powerful Dual 10-Core XEON machines with dedicated ECC Ram and SSD storage.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/gbps.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">10 Gbps Network</div>
              <div class="subtitle">Our internal network utilizes blazing fast 10Gbps connectivity, ensuring extremely low latency for incredible application performance.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/ssd.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Full SSD</div>
              <div class="subtitle">SSD hard drives come standard to deliver optimum performance for your container applications.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/bandwidth.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Tier-1 Bandwidth</div>
              <div class="subtitle">Advanced networking combined with top tier 1 ISP connectivity, for utmost reliability and performance.</div>
            </div>
          </li>
          <li class="item">
            <div class="icon-wrap"><img src="/assets/icons/features/los.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container"></div>
            <div class="info">
              <div class="title">Hosted with <i class="fa fa-heart"></i> from Los Angeles</div>
            </div>
          </li>
        </ul>
      </article>
    </div>
    <div class="price">
      <div class="title">
        <img src="/assets/icons/features/billing.svg" class="icon" alt="Effortless Docker Hosting, Docker, Container">
        <span class="text">Per-second Billing</span>
      </div>
      <div class="subtitle">Forget about hourly rates. Charging for an hour just for startup is a crime! In Hyper.sh, you launch a new container in 5 seconds, run for 30s, shutdown in 1s. Pay only 5+30+1=36 seconds!</div>
      <a href="/pricing.html" class="price-btn">Learn More About Price</a>
    </div>
  </div>
</section>
