<section class="container white nobg">
  <div class="section cases">
    <header class="title">Use Cases</header>
    <article class="content">
      <div class="group">
        <div class="item">
          <img src="/assets/icons/cases/cd.svg" alt="CI / CD">
          <div>
            <div class="title">CI / CD</div>
            <div class="desc">HYPER_ is the optimal container hosting service to create your CI/CD pipeline. No more long running costly VMs sitting waiting for build jobs. With HYPER_ you only pay when you’re building.</div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/icons/cases/dev.svg" alt="Dev / Test">
          <div>
            <div class="title">Dev / Test</div>
            <div class="desc">HYPER_ allows you to focus on code. With our Docker native workflow, and no VM clusters to manage orupfront planning to perform, developing on HYPER_ is the same as on your laptop. You know Docker, you know HYPER_.</div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="item">
          <img src="/assets/icons/cases/serverless.svg" alt="Serverless">
          <div>
            <div class="title">Serverless</div>
            <div class="desc">Build out your own serverless platform or app on HYPER_. The combination of incredibly fast boot times, coupled with strong isolation and ease of use, makes HYPER_ a perfect service to run your event-driven workloads.</div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/icons/cases/demo.svg" alt="Demo / Poc">
          <div>
            <div class="title">Demo / Poc</div>
            <div class="desc">Need to showcase your new project or app? Deploying to HYPER_ is incredible fast and with a few Docker commands, your app is up and running for the world to see.</div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
