<section class="container white cases nobg">
  <div class="section">
    <div class="title small">USE CASES</div>
    <article class="content">
      <div class="group">
        <div class="item">
          <img src="/assets/icons/cases/cd.svg" alt="CI / CD, Docker, Container">
          <div>
            <div class="title">CI / CD</div>
            <div class="desc">Hyper.sh is the optimal container hosting service to create your CI/CD pipeline. No more long running costly VMs sitting waiting for build jobs. With Hyper.sh you only pay when you’re building.</div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/icons/cases/dev.svg" alt="Dev / Test, Docker, Container">
          <div>
            <div class="title">Dev / Test</div>
            <div class="desc">Hyper.sh allows you to focus on code. With our Docker native workflow, and no VM clusters to manage or upfront planning to perform, developing on Hyper.sh is the same as on your laptop. You know Docker, you know Hyper.sh.</div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="item">
          <img src="/assets/icons/cases/serverless.svg" alt="Serverless, Docker, Container">
          <div>
            <div class="title">Serverless</div>
            <div class="desc">Build out your own serverless platform or app on Hyper.sh. The combination of incredibly fast boot times, coupled with strong isolation and ease of use, makes Hyper.sh a perfect service to run your event-driven workloads.</div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/icons/cases/demo.svg" alt="Demo / Poc, Docker, Container">
          <div>
            <div class="title">Demo / Poc</div>
            <div class="desc">Need to showcase your new project or app? Deploying to Hyper.sh is incredible fast and with a few Docker commands, your app is up and running for the world to see.</div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
