<section class="container white nobg features">
  <div class="intro-wrap">
    <div class="intro-title">
      <div>THE CLOUD</div>
      <div>THAT WORKS LIKE</div>
      <div>ONE SINGLE MACHINE</div>
    </div>
    <div class="intro-line">
      <div class="intro">
        <img src="/assets/icons/features/new/cli.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Run containers on demand</h2>
          <p class="desc">In Hyper.sh, there is no VM, cluster, or scheduler to setup. Simply pull the image and run it:
          </p>
          <ul class="list">
            <li class="item"><code>hyper pull nginx</code></li>
            <li class="item"><code>hyper run nginx</code></li>
          </ul>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/deploy.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">5-seconds Provisioning</h2>
          <p class="desc align">Yes, <code>hyper run nginx <img class="enter" src="/assets/icons/features/new/enter.svg"></img></code>, your application will be up and running in 5 seconds!</p>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/billing.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Per Second Billing</h2>
          <p class="desc">Launch in 5 seconds, run for 30s, shutdown in 1s. Pay as little as 5+30+1=36 seconds!</p>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/docker.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Consistent with Docker</h2>
          <p class="desc"><code>hyper pull</code>, <code>hyper run</code>, <code>hyper exec</code>. You know Docker, you know us!</p>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/secure.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Secure as VM</h2>
          <p class="desc">All containers are born with the hardware-enforced isolation in Hyper.sh. The same level of security as VM.</p>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/cube.svg" alt="Container-native Cloud, Docker, Container" class="bg">
</section>
<section class="container white nobg features">
  <div class="intro-wrap right">
    <div class="intro-title">
      <div>EVERYTHING YOU WANT,</div>
      <div>NATIVELY ON CONTAINER</div>
    </div>
    <div class="intro-line">
      <div class="intro">
        <img src="/assets/icons/features/new/small.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Nano Instance</h2>
          <p class="desc">Don't launch a 512MB VM just for a cron job. We offer nano containers, as tiny as 64MB.</p>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/ebs.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Persistent Volume</h2>
          <p class="desc">Your containers are attached with EBS-like volumes. The data is automatically replicated, distributed and protected from failures. Moreover, you can create snapshots for backup/restore.</p>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/network.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Private Network</h2>
          <p class="desc">Your containers will run in your own Layer-2 network. Your traffic is completely isolated from other users and the rest of the world!</p>
        </div>
      </div>
      <div class="intro">
        <img src="/assets/icons/features/new/hardware.svg" alt="Container-native Cloud, Docker, Container" class="image">
        <div class="info">
          <h2 class="head">Amazing Hardware</h2>
          <ul class="desc list">
            <li class="item">
              <code>Amazing Hardware</code>: All our servers are built on powerful XEON machines with dedicated ECC Ram and SSD storage.
            </li>
            <li class="item">
              <code>10 Gbps Network</code>: Our internal network utilizes blazing fast 10Gbps connectivity, ensuring extremely low latency for incredible application performance.
            </li>
            <li class="item">
              <code>Full SSD</code>: SSD hard drives come standard to deliver optimum performance for your container applications.
            </li>
            <li class="item">
              <code>Tier-1 Bandwidth</code>: Advanced networking combined with top tier 1 ISP connectivity, for utmost reliability and performance.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/globe.svg" alt="Container-native Cloud, Docker, Container" class="bg right">
</section>
