<section class="container white nobg">
  <div class="intro-wrap">
    <div class="intro-title">IT JUST WORKS</div>
    <div class="intro-line">
      <div class="intro color1">
        <img src="/assets/icons/features/new/deploy.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">5-SECOND PROVISIONING</h1>
          <p class="desc">
            Your container is live in 5 seconds! Pull your Docker
            Choose your resources, Linux distro or app image and get your cloud server instantly.
          </p>
        </div>
      </div>
      <div class="intro color2">
        <img src="/assets/icons/features/new/cli.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">INCREDIBLY SIMPLE</h1>
          <p class="desc">Think the entire Hyper_ cloud as a single remote host with infinite resources and always available. There is no VM node, cluster, or scheduler to manage. The workflow is simply:
          </p>
          <ul class="list">
            <li class="item"><code>hyper pull nginx</code></li>
            <li class="item"><code>hyper run nginx</code></li>
          </ul>
        </div>
      </div>
      <div class="intro color3">
        <img src="/assets/icons/features/new/billing.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">PER SECOND BILLING</h1>
          <p class="desc">Forget about the expensive hourly rates. Hyper_ uses a per-second billing model, which allows you to launch a new container in 5 seconds, run for 30s, shutdown in 1s. Pay only 5+30+1=36 seconds!</p>
        </div>
      </div>
      <div class="intro color4">
        <img src="/assets/icons/features/new/small.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">MICRO INSTANCE (64MB)</h1>
          <p class="desc">Breakdown your monolithic application into micro-services with HYPER_'s micro containers (64MB mem). They are agile, efficient, and cost effective!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container white nobg">
  <div class="intro-wrap right">
    <div class="intro-title">IT JUST WORKS</div>
    <div class="intro-line">
      <div class="intro color1">
        <img src="/assets/icons/features/new/ebs.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">EBS-LIKE PERSISTENT VOLUME</h1>
          <p class="desc">Your containers are attached with EBS-like volumes. The data is automatically replicated, distributed and protected from failures. Moreover, you can create snapshots for backup/restore.</p>
        </div>
      </div>
      <div class="intro color2">
        <img src="/assets/icons/features/new/network.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">L2 PRIVATE NETWORK</h1>
          <p class="desc">Your containers will run in your own Layer-2 network. Your traffic is completely isolated from other users and the rest of the world!</p>
        </div>
      </div>
      <div class="intro color3">
        <img src="/assets/icons/features/new/hardware.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">AMAZING HARDWARE</h1>
          <ul class="desc list">
            <li class="item">
              <code>Amazing Hardware:</code> All our servers are built on powerful Octo-Core machines with dedicated ECC Ram and SSD storage.
            </li>
            <li class="item">
              <code>10 Gbps Network:</code> Our internal network utilizes blazing fast 10Gbps connectivity, ensuring extremely low latency for incredible application performance.
            </li>
            <li class="item">
              <code>Full SSD:</code> SSD hard drives come standard to deliver optimum performance for your container applications.
            </li>
            <li class="item">
              <code>Tier-1 Bandwidth:</code> Advanced networking combined with top tier 1 ISP connectivity, for utmost reliability and performance.
            </li>
          </ul>
        </div>
      </div>
      <div class="intro color4">
        <img src="/assets/icons/features/new/losangeles.svg" alt="" class="image">
        <div class="info">
          <h1 class="head">Hosted with Love from Los Angeles</h1>
          <p class="desc"></p>
        </div>
      </div>
    </div>
  </div>
</section>
