  <div class="guide">
    <div class="title">CREATE YOUR FIRST SERVERLESS CONTAINER</div>
    <ul class="start">
      <li class="item">
        <div class="step step-1"></div>
        <div class="desc">
          Create New
          <a href="https://console.hyper.sh/register">Free Tier</a>
          Account
        </div>
      </li>
      <li class="item">
        <div class="step step-2"></div>
        <div class="desc">Generate API Credential</div>
      </li>
      <li class="item">
        <div class="step step-3"></div>
        <div class="desc">
          Setup
          <a href="https://console.hyper.sh/cli/download">CLI</a>
          on Your Laptop
        </div>
      </li>
    </ul>
    <div class="getstarted">
      <a href="https://console.hyper.sh/register" target="_blank">GET STARTED</a>
    </div>
  </div>