  <div class="guide">
    <div class="title">CREATE YOUR FIRST SERVERLESS CONTAINER</div>
    <ul class="start">
      <li class="item">
        <div class="step step-1"></div>
        <div class="desc">
          Sign Up
        </div>
      </li>
      <li class="item">
        <div class="step step-2"></div>
        <div class="desc">Generate API Credential</div>
      </li>
      <li class="item">
        <div class="step step-3"></div>
        <div class="desc">
          Setup
          <a href="https://console.hyper.sh/cli/download">CLI</a>
          on Your Laptop
        </div>
      </li>
    </ul>
  </div>