<section class="container white nobg howto">
  <div class="section">
    <div class="howto-title">
      <div>HOW IT WORKS</div>
    </div>
    <img src="/assets/images/how.jpg" class="howto-steps">
    <div class="desc">On-demand Container, Per-Second Billing, the Cloud that works like one single machine, Everything you want, natively on container.</div>
  </div>
</section>