<section class="container white nobg howto">
  <div class="section">
    <div class="howto-title">
      <div>Run Jobs, NOT Infrastructure</div>
    </div>
    <div class="how-slides">
      <div class="how-slide-up">
        <div class="bar"></div>
        <div class="up-image"><img src="/assets/images/how-up.jpg"></div>
      </div>
    </div>
    <div class="desc">
      <p>Hyper is the simplest and fastest way to run containers in the cloud. No VM to manage, no cluster to operate. </p>
      <p>Bypassing all those infrastructure headaches to embrace the value of "Serverless" immediately!</p>
    </div>
  </div>
</section>
