<!DOCTYPE html>
<html>
  <head>
    <title>Hyper.sh - Serverless Container Platform, No VM to manage, No cluster to schedule</title>
    {{> ../commons/head}}
  </head>
  <body id="index">
    <header id="header">
      <div id="shutdown">
        Hyper.sh cloud service will shutdown on Jan 15, 2019.
        <a href="https://docs.hyper.sh/hyper/GettingStarted/migrate_data/index.html" target="_blank"> >> Tips for data migration</a>
      </div>
      {{> ../commons/header}}
      {{> ./main}}
    </header>
    <article class="main">
      {{> ./howto}}
      {{> ./cases}}
      {{> ./news}}
      {{> ./guide}}
    </article>
    <footer id="footer">
      <article class="content">
        {{> ../commons/footer}}
      </article>
    </footer>
  </body>
</html>
