<section class="container white">
  <div class="section intro">
    <header class="title">Under the hood<a href="https://console.hyper.sh/register" class="signup">Try It Now</a></header>
    <div class="detail">
      <ul class="list">
        <li class="item">
          <img src="/assets/icons/features/hardware.svg" class="icon">
          <div class="wrap">
            <div class="name">Amazing Hardware</div>
            <div class="desc">All our servers are built on powerful Octo-Core machines with dedicated ECC Ram and SSD storage.</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/gbps.svg" class="icon">
          <div class="wrap">
            <div class="name">10 Gbps Network</div>
            <div class="desc">Our internal network utilizes blazing fast 10Gbps connectivity, ensuring extremely low latency for incredible application performance.</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/ssd.svg" class="icon">
          <div class="wrap">
            <div class="name">Full SSD</div>
            <div class="desc">SSD hard drives come standard to deliver optimum performance for your container applications.</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/bandwidth.svg" class="icon">
          <div class="wrap">
            <div class="name">Tier-1 Bandwidth</div>
            <div class="desc">Advanced networking combined with top tier 1 ISP connectivity, for utmost reliability and performance.</div>
          </div>
        </li>
        <li class="item center">
          <img src="/assets/icons/features/los.svg" class="icon">
          <div class="wrap">
            <div class="name">Hosted with <i class="fa fa-heart"></i> from Los Angeles</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="container">
  <div class="section intro right">
    <header class="title">Container Native<a href="https://console.hyper.sh/register" class="signup">Try It Now</a></header>
    <div class="detail">
      <ul class="list">
        <li class="item">
          <img src="/assets/icons/features/novms.svg" class="icon">
          <div class="wrap">
            <div class="name">Say goodbye to VMs</div>
            <div class="desc">Unlike traditional IaaS where containers run in VMs, you will only work with container in HYPER_. However, containers are protected by hardware-enforced isolation, meaning that they are as secure as a VM.</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/host.svg" class="icon">
          <div class="wrap">
            <div class="name">A single giant virtual host</div>
            <div class="desc">With secure containers, the need for clustering is gone. The entire HYPER_ cloud works like a single virtual host with infinite resources and always available, on which you can launch any number of containers at any time.</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="container white nobg">
  <div class="section intro">
    <header class="title">Incredible Developer Experience<a href="https://console.hyper.sh/register" class="signup">Try It Now</a></header>
    <div class="detail">
      <ul class="list">
        <li class="item">
          <img src="/assets/icons/features/cli.svg" class="icon">
          <div class="wrap">
            <div class="name">You know Docker, You know HYPER_!</div>
            <div class="desc">Our CLI is designed to be consistent with Docker’s. As long as you know how to use Docker on your laptop, you are ready to roll!</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/deploy.svg" class="icon">
          <div class="wrap">
            <div class="name">5 seconds to deploy</div>
            <div class="desc">Enter <code>hyper run</code> on your laptop; wait 5 seconds; your app is up and running!</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="container bottom-bg">
  <div class="section intro right">
    <header class="title">Feature Complete<a href="https://console.hyper.sh/register" class="signup">Try It Now</a></header>
    <div class="detail">
      <ul class="list">
        <li class="item">
          <img src="/assets/icons/features/volume.svg" class="icon">
          <div class="wrap">
            <div class="name">EBS-like Persistent Storage</div>
            <div class="desc">Imagine your container attached with EBS-like volumes. The data is automatically replicated, distributed and protected from failures. Moreover, you can create snapshots for backup/restore.</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/network.svg" class="icon">
          <div class="wrap">
            <div class="name">L2 Private Network</div>
            <div class="desc">Your containers will run in your own Layer-2 network. Your traffic is completely isolated from other users and the rest of the world!</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="container white noborder nobg">
  <div class="section intro">
    <header class="title">Cost Effective<a href="https://console.hyper.sh/register" class="signup">Try It Now</a></header>
    <div class="detail">
      <ul class="list">
        <li class="item">
          <img src="/assets/icons/features/small.svg" class="icon">
          <div class="wrap">
            <div class="name">Start with 64MB instances</div>
            <div class="desc">Breakdown your monolithic application into micro-services with HYPER_'s nano containers (64MB mem). They are agile, efficient, and cost effective!</div>
          </div>
        </li>
        <li class="item">
          <img src="/assets/icons/features/billing.svg" class="icon">
          <div class="wrap">
            <div class="name">Per-second Billing</div>
            <div class="desc">Launch a new container in 5 seconds, run for 30, shutdown in 1. Pay only 5+30+1=36 seconds!</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
