<section class="main">
  <div class="wrap">
    <div class="cloud-wrap">
      <div id="entry" class="entry">
        <h1 class="title">
          On-Demand Workload, Serverless Container, Per-second Billing
        </h1>
        {{!-- <div class="desc">
          On-demand Container, Per-Second Billing, the Cloud that works like one single machine, Everything you want, natively on container.
        </div> --}}
        <div class="btns">
          {{!-- <a href="/hyper" class="signup signup-button">Learn</a>
          <a href="https://console.hyper.sh/register" target="_blank" class="signup signup-button">Free TIER</a> --}}
          <div class="blog-link">
            <a href="https://blog.hyper.sh/announcing-eu-region.html" target="_blank">Pi has been released</a>
          </div>
          <div class="animations">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="background">
  <img src="/assets/images/cube-side.svg" class="shape shape-left">
  <img src="/assets/images/cube-center.svg" class="shape shape-center">
  <img src="/assets/images/cube-side.svg" class="shape shape-right">
</section>
