<section class="main">
  <div class="wrap">
    <div class="cloud-wrap">
      <div id="entry" class="entry">
        <h1 class="title">Clusterless Docker Hosting</h1>
        <h2 class="subtitle">Deploy your container apps in 5 sec!</h2>
        <a href="https://console.hyper.sh/register" target="_blank" class="signup">Start 3-month free trial</a>
      </div>
      <div id="code" class="code">
        $ <div class="line type" text="brew install hyper"></div>
        <br/>
        <div class="line type" text="$ hyper pull mysql"></div>
        <br/>
        <div class="line type" text="$ hyper run mysql"></div>
        <br/>
        <div class="line result" text="MySQL is running..."></div>
        <br/>
        <div class="line type" text="$ hyper run --link mysql wordpress"></div>
        <br/>
        <div class="line result" text="WordPress is running..."></div>
        <br/>
        <div class="line type" text="$ hyper fip attach 22.33.44.55 wordpress"></div>
        <br/>
        <div class="line result" text="22.33.44.55"></div>
      </div>
      <img class="cloud" src="/assets/cloud_new_earth.png" alt="Clusterless Docker Hosting, Docker, Container">
    </div>
  </div>
</section>
<section id="background">
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
</section>
