<section class="main">
  <div class="wrap">
    <div class="entry">
      <h1 class="title">Container-Native Cloud</h1>
      <h2 class="subtitle">Get your microservices to production in 5 seconds!</h2>
      <a href="https://console.hyper.sh/register" target="_blank" class="signup">Sign up for $20 free credits</a>
    </div>
    <!-- <div class="terminal">
      <div class="bar">
        <div class="btn red"></div>
        <div class="btn green"></div>
        <div class="btn blue"></div>
      </div>
      <div class="content">
        <div class="line line-1">brew install hyper</div>
        <div class="line line-2">hyper pull mysql</div>
        <div class="line line-3">hyper pull wordpress</div>
        <div class="line line-4">hyper run mysql</div>
        <div class="result result-1">MySQL is running...</div>
        <div class="line line-5">hyper run --link mysql wordpress</div>
        <div class="result result-2">WordPress is running...</div>
      </div>
    </div> -->
    <img src="/assets/cloud.svg" class="cloud" alt="an image describes an computer connecting with cloud">
  </div>
</section>
<section id="background">
  <div class="shape shape1"></div>
  <div class="shape shape2"></div>
</section>
