<section class="main">
  <div class="wrap">
    <div class="cloud-wrap">
      <div id="entry" class="entry">
        <div class="blog-link">
          <a href="https://blog.hyper.sh/announcing-eu-region.html" target="_blank">Kubernetes platform has been released</a>
        </div>
        <h1 class="title">On-Demand Task <br> Serverless Container</h1>
        <div class="desc">
          On-demand Container, Per-Second Billing, the Cloud that works like one single machine, Everything you want, natively on container.
        </div>
        {{!-- <h2 class="subtitle">Deploy your container apps in 5 sec!</h2> --}}
        <a href="/swarm" target="_blank" class="signup signup-button">Learn</a>
        <a href="https://console.hyper.sh/register" target="_blank" class="signup signup-button">Free TIER</a>
      </div>
      {{!-- <img class="cloud" src="/assets/cloud_new_earth.png" alt="Container-native Cloud, Docker, Container"> --}}
    </div>
  </div>
</section>
<section id="background">
  <img src="/assets/images/cube-side.svg" class="shape shape-left">
  <img src="/assets/images/cube-center.svg" class="shape shape-center">
  <img src="/assets/images/cube-side.svg" class="shape shape-right">
</section>
