<section class="main">
  <div class="wrap">
    <div class="cloud-wrap">
      <div id="entry" class="entry">
        <h1 class="title">
          Serverless Container Platform
        </h1>
        <div class="desc">
          <p>The simplest and fastest way to run containers in the cloud</p>
          <p>No VM to manage, No cluster to schedule</p>
        </div>
        <div class="btns">
          {{!-- <a href="/hyper" class="signup signup-button">Learn</a>
          <a href="https://console.hyper.sh/register" target="_blank" class="signup signup-button">Free TIER</a> --}}
          <div class="blog-link">
            <a href="https://blog.hyper.sh/introducing-pi-on-gcp.html" target="_blank">Pi has been released</a>
          </div>
          <div class="product-link">
            <div>
              <p class="link-tip">Prefer Docker Swarm?</p>
              <a href="/hyper">Learn Hyper</a>
            </div>
            <div>
              <p class="link-tip">Prefer Kubernetes?</p>
              <a href="/pi">Learn Pi</a>
            </div>
          </div>
          <div class="animations">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="background">
  <img src="/assets/images/cube-side.svg" class="shape shape-left">
  <img src="/assets/images/cube-center.svg" class="shape shape-center">
  <img src="/assets/images/cube-side.svg" class="shape shape-right">
</section>
