<section class="container news">
  <div class="section news">
    <header class="title">WHAT OUR USERS ARE SAYING</header>
    <article class="content">
      <div id="echo-slider" class="echo-slider">
        <ul></ul>
      </div>
      <!--<ul class="latest">
        <li class="item">
          <div class="title">Introducing Hyper.sh (Free Beta) - The Simple And Secure Container Cloud</div>
          <div class="desc">Today, we are very happy to announce Hyper.sh (beta), which you can try out for free. We’ve been working on Hyper.sh for a long time and we’re now ready to unleash it on the world!. Different from traditional container services, Hyper.sh is a native container cloud, in which multi-tenant containers can inherently be run safely side by side on bare metal, instead of being nested in VMs.</div>
          <div class="bottom">
            <span class="date">2016/04/04</span>
            <a class="link" target="_blank" href="https://blog.hyper.sh/introducing-hyper-beta-the-native-container-cloud.html">Read More...</a>
          </div>
        </li>
        <li class="item">
          <div class="title">Announcing Hypernetes - The Multitenant Kubernetes Distribution</div>
          <div class="desc">However, most multi-tenant CaaS solutions today run on a public IaaS, and use fully isolated virtual machine clusters to schedule containers. This is in contrast to the solely container-based implementation provided in private CaaS deployments. The public “hybrid” VM/container isolation approach is a direct result from the shared kernel architecture in container technology.</div>
          <div class="bottom">
            <span class="date">2015/10/27</span>
            <a class="link" target="_blank" href="https://blog.hyper.sh/announcing-hypernetes-the-multitenant-kubernetes-distribution.html">Read More...</a>
          </div>
        </li>
      </ul>-->
    </article>
  </div>
  </div>
</section>
