<section class="container white nobg">
  <div class="section news">
    <article class="content">
      <div class="echo-slider">
        <ul>
          <li>
            <div class="word">I want to work with you guys! This is an awesome project that is going to change the future, no doubt! AWS lambda showed it was possible and hyper_ is how it should have worked!</div>
            <div class="name">Kevin Simper</div>
            <div class="intro">Co-founder of ABC Company</div>
          </li>
          <li>
            <div class="word">I want to work with you guys! This is an awesome project that is going to change the future, no doubt! AWS lambda showed it was possible and hyper_ is how it should have worked!</div>
            <div class="name">Kevin Simper</div>
            <div class="intro">Co-founder of ABC Company</div>
          </li>
        </ul>
      </div>
      <ul class="latest">
        <li class="item">
          <div class="title">Introducing Hyper_ (Free Beta) - The Simple And Secure Container Cloud</div>
          <div class="desc">Today, we are very happy to announce Hyper_ (beta), which you can try out for free. We’ve been working on Hyper_ for a long time and we’re now ready to unleash it on the world!. Different from traditional container services, Hyper_ is a native container cloud, in which multi-tenant containers can inherently be run safely side by side on bare metal, instead of being nested in VMs.</div>
          <a class="link" href>Read More...</a>
        </li>
        <li class="item">
          <div class="title">Introducing Hyper_ (Free Beta) - The Simple And Secure Container Cloud</div>
          <div class="desc">Today, we are very happy to announce Hyper_ (beta), which you can try out for free. We’ve been working on Hyper_ for a long time and we’re now ready to unleash it on the world!. Different from traditional container services, Hyper_ is a native container cloud, in which multi-tenant containers can inherently be run safely side by side on bare metal, instead of being nested in VMs.</div>
          <a class="link" href>Read More...</a>
        </li>
      </ul>
    </article>
  </div>
  </div>
</section>
