<section class="container white prices">
  <div class="section">
    <h1 class="title small">
      PRICING
      <div class="region-select-wrap">
        <select name="Region" class="region-select">
          <option value="LosAngeles">Los Angeles</option>
          <option value="Frankfurt">Frankfurt</option>
        </select>
      </div>
    </h1>
    <article class="content">
      <div class="detail">
        <div class="type"></div>
        <div class="price month"></div>
        <div class="price second"></div>
        <div class="items">
          <div class="item">
            <div class="size cpu"></div>
            <img src="/assets/icons/prices/cpu.svg" class="icon" alt="cpu"/>
            <div class="name">CPU</div>
          </div>
          <div class="item">
            <div class="size mem"></div>
            <img src="/assets/icons/prices/memory.svg" class="icon" alt="memory"/>
            <div class="name">Memory</div>
          </div>
          <div class="item">
            <div class="size disk"></div>
            <img src="/assets/icons/prices/disk.svg" class="icon" alt="disk"/>
            <div class="name">Disk</div>
          </div>
          <div class="item">
            <div class="size net"></div>
            <img src="/assets/icons/prices/network.svg" class="icon" alt="network"/>
            <div class="name">Network</div>
          </div>
        </div>
      </div>
      <div class="slider">
        <div class="items">
          <div class="item">
            <div class="circle"></div>
            <div class="type">S1</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">S2</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">S3</div>
          </div>
          <div class="item active">
            <div class="circle"></div>
            <div class="type">S4</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">M1</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">M2</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">M3</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">L1</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">L2</div>
          </div>
          <div class="item">
            <div class="circle"></div>
            <div class="type">L3</div>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <a href="/pricing.html" class="learn">Learn More...</a>
    </article>
  </div>
</section>
