<section class="main">
  <div class="wrap">
    <div class="cloud-wrap">
      <div id="entry" class="entry">
        <h1 class="title">
          Kata Enterprise Edition
        </h1>
        <div class="desc">
          <p>The speed of containers, the security of VMs</p>
        </div>
        <div class="btns">
          {{!-- <a href="/hyperform" class="btn-purple">Basic Edition</a>
          <a href="/hyperform" class="btn-blue">Standard Edition</a>
          <a href="/hyperform" class="btn-red">Advanced Edition</a> --}}
          <div class="animations">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
