<div class="section">
  <div class="howto-title">
    <div>Which Kata Container is the best for you?</div>
  </div>
  <div class="content content-editions">
    <ul>
      <li>
        <h2>Kata Community</h2>
        {{!-- <p>Easily package apps written in any programming language or service into containers without the risk.</p> --}}
        {{!-- <h3>Features</h3> --}}
        <ul>
          <li>Open source community support</li>
          <li>6 months of software maintenance</li>
          <li>Hotfixes & patches for the latest release</li>
          <li>open source project roadmap</li>
        </ul>
        <a href="https://github.com/kata-containers/documentation/tree/master/install" target="_blank" class="btn">Download Kata Community</a>
      </li>
      <li>
        <h2>Kata Enterprise</h2>
        <ul>
          <li>Enterprise-class support with defined SLAs and private support channels</li>
          <li>24 months of extended software maintenance</li>
          <li>Hotfixes & patches for all supported releases</li>
          <li>Work with Hyper product team on roadmap priorities</li>
          <li>Certified infrastructure, OS, storage and networking</li>
          <li>Full set of technical training</li>
        </ul>
      </li>
      <li>
        <h2>Kata Custom</h2>
        <ul>
          <li>Dedicated support channels with highest priority</li>
          <li>Private code repo with indepdent maintenance</li>
          <li>Separate hotfixes & patches for private repo</li>
          <li>Customize your own roadmap</li>
          <li>Purpose-built for your own infrastructure</li>
          <li>Technical training based on your own release</li>
        </ul>
      </li>
    </ul>
  </div>
</div>