<!DOCTYPE html>
<html>
  <head>
    <title>Kata Enterprise Edition - The speed of containers, the security of VMs</title>
    {{> ../../commons/head}}
  </head>
  <body id="index" class="kata">
    <header id="header">
      {{> ../../commons/header}}
      {{> ./banner}}
    </header>
    <article class="main">
      <section class="container white nobg howto kata-intro">
        {{> ./concepts}}
        {{> ./editions}}
      </section>

    </article>
    <footer id="footer">
      <article class="content">
        {{> ../../commons/footer}}
      </article>
    </footer>
  </body>
</html>
