<!DOCTYPE html>
<html>
  <head>
    <title>HYPER_ - Company</title>
    {{> ../commons/head}}
  </head>
  <body id="company">
    <header id="header">
      {{> ../commons/header}}
    </header>
    <article class="main">
      {{> ./main}}
    </article>
    <footer id="footer">
      <article class="content">
        {{> ../commons/footer}}
      </article>
    </footer>
  </body>
</html>
