<section class="container white topbg">
  <div class="section main">
    <header class="title">Company</header>
    <ul class="sections">
      <li class="section">
        <h1 class="title"><a name="about"></a>> About Hyper_</h1>
        <div class="content">
          <p>With the rise of Docker, the world is shifting its focus from "Machine" toward "App". As such, the cloud of tomorrow will be very different than today.</p>
          <p>While the future is exciting, what holds us back is the lack of isolation in container. Without the necessary security, it is impossible to build a public multi-tenant CaaS platform, as everyone has to share the single host's kernel (no matter physical or virtual).</p>
          <p>Hyper is a Hypervisor-agnostic Docker Runtime. Its goal is to Make VM run like Container, by combining the best from both:</p>
          <ul>
            <li>AS Fast as Container</li>
            <li>Isolated by VM</li>
          </ul>
          <p>With HYPER_, we believe the future of Container-as-a-Service is just around the corner.</p>
        </div>
      </li>
      <li class="section">
        <h1 class="title"><a name="careers"></a>> Careers</h1>
        <div class="content">
          <p>
            HyperCrew is how we call ourselves: a team who is passionate about redefining the cloud. To achieve this, we are looking for individuals who demonstrate initiative for our goal and are as enthusiastic as we are about bringing Container-as-a-Service to the masses.
          </p>
        </div>
      </li>
      <li class="section">
        <h1 class="title">> Developer Evangelist</h1>
        <div class="content">
          <div class="subsection">
            <div class="subtitle">Location:</div><br>
            Cupertino, CA<br>
            New York City, NY
          </div>
          <div class="subsection">
            <div class="subtitle">Responsibilities:</div><br>
            As a Developer Evangelist for Hyper, your job would be to develop and grow the awareness of Hyper among developers. You’ll be working on:
            <ul>
              <li>Creating content for our blog and other channels to drive some of the latest thinking around app containers, microservices, Container-as-a-Service, etc.</li>
              <li>Organizing and volunteering at developer events.</li>
              <li>Speaking and sharing your expertise at user groups and conferences.</li>
              <li>Building partnerships with individuals, companies and organizations that serve the same communities we do.</li>
              <li>Connecting and networking with other developers and entrepreneurs to identify how Hyper might help them be even more awesome.</li>
              <li>Gathering and socializing product feedback that will inform engineering, sales, and marketing decision making.</li>
            </ul>
          </div>
          <div class="subsection">
            <div class="subtitle">Requirements:</div><br>
            You should be a software development professional with a track record of delivering server-side applications. Strong communications skills are also essential to serve in this role. Some specific qualities we are looking for are:
            <ul>
              <li>Leadership and service in developer communities.</li>
              <li>Strong technical writing skills demonstrated via blog posts and other written work.</li>
              <li>Strong and diverse engineering skills.</li>
              <li>Social and hustling skills - a lot of great connections and opportunities are discovered simply by getting out and talking to people. This is something you should be able to do well.</li>
              <li>Public speaking experience or aptitude.</li>
              <li>Friendly and approachable people do well as the teachers and mentors we’re looking for.</li>
              <li>Willingness to travel to anywhere our developer communities live, and stay productive and professional on the road.</li>
              <li>Ability to work irregular hours and some weekends to support hackathons, conferences, user groups, and other developer events.</li>
              <li>Entrepreneurial thinking and the ability to act effectively with only high-level direction is also essential.</li>
              <li>Most importantly, your aptitude and willingness to learn is just as important to us as your existing knowledge.</li>
            </ul>
            <a class="apply" href="mailto:careers@hyper.sh">Apply now</a>
          </div>
        </div>
      </li>
      <li class="section">
        <h1 class="title"><a name="contact"></a>> Contact</h1>
        <div class="content">
          <div class="position">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3024.555743477593!2d-74.0161610845952!3d40.70578087933258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a1166cb9761%3A0x990bbadfb41dbf49!2s25+Broadway%2C+New+York%2C+NY+10004%2C+EE.+UU.!5e0!3m2!1ses!2snl!4v1459344297908" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="adress">
              <div class="subtitle">New York</div>
              <div class="details">
                25 Broadway, 9th Floor, New York, NY 10004
                <a href="mailto:contact@hyper.sh" target="_blank">contact@hyper.sh</a>
              </div>
            </div>
          </div>
          <div class="position">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.6152079200056!2d116.35096051572731!3d39.994703679416226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0546bcad15f9d%3A0x921427cd14b4d8f1!2s12+Xue+Yuan+Lu%2C+WuDaoKou%2C+Haidian+Qu%2C+Beijing+Shi%2C+China%2C+100083!5e0!3m2!1ses!2snl!4v1459344552549" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="adress">
              <div class="subtitle">Beijing</div>
              <div class="details">
                Xueyuannan Road 12, Building 54, 125, Beijing, 100082
                <a href="mailto:contact@hyper.sh" target="_blank">contact@hyper.sh</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
