<div class="form">
  <div class="fields">
    <form name="signup" action="https://console.hyper.sh/register" method="GET">
      <div class="wrap">
        <input type="text" name="firstname" class="firstname" placeholder="First Name" required>
        <input type="text" name="lastname" class="lastname" placeholder="Last Name" required>
      </div>
      <input type="email" name="email" class="email" placeholder="Email" required>
      <input type="password" name="password" class="password" placeholder="Password" minlength="8" maxlength="64" required>
      <input type="submit" class="signup signup-button" value="Sign up" href="https://console.hyper.sh/register"></input>
    </form>
  </div>
</div>
<ul class="menu">
  <li class="item">
    <div class="head">Product</div>
    <ul class="list">
      <li class="item"><a href="/hyper">Hyper</a></li>
      <li class="item"><a href="/pi">Pi</a></li>
      <li class="item"><a href="/howto">How To</a></li>
      <li class="item">
        <a class="item-dropdown">Pricing</a>
        <ul>
          <li><a href="/hyper/pricing.html">Hyper</a></li>
          <li><a href="/pi/pricing.html">Pi</a></li>
        </ul>
      </li>
      <li class="item"><a href="http://status.hyper.sh/" target="_blank">Status</a></li>
    </ul>
  </li>
  <li class="item">
    <div class="head">Learn</div>
    <ul class="list">
      <li class="item">
        <a class="item-dropdown">Docs</a>
        <ul>
          <li><a href="https://docs.hyper.sh/hyper" target="_blank">Hyper</a></li>
          <li><a href="https://docs.hyper.sh/pi" target="_blank">Pi</a></li>
        </ul>
      </li>
      <li class="item"><a href="https://forum.hyper.sh/" target="_blank">Forum</a></li>
      <li class="item"><a href="https://slack.hyper.sh/" target="_blank">Slack</a></li>
      <li class="item"><a href="https://docs.hyper.sh/FAQ/index.html" target="_blank">FAQ</a></li>
    </ul>
  </li>
  <li class="item">
    <div class="head">About</div>
    <ul class="list">
      <li class="item"><a href="/company.html#about">Company</a></li>
      <li class="item"><a href="/company.html#careers">Careers</a></li>
      <li class="item"><a href="https://blog.hyper.sh/" target="_blank">Blog</a></li>
      <li class="item"><a href="/company.html#contact">Contact</a></li>
      <li class="item"><a href="/customers.html">Customers</a></li>
    </ul>
  </li>
  <li class="item community">
    <div class="head">Community</div>
    <ul class="list">
      <li class="item"><a href="https://github.com/hyperhq" target="_blank"><i class="fa fa-github"></i></a></li>
      <li class="item"><a href="https://twitter.com/hyper_sh" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li class="item"><a href="https://vimeo.com/user39988431" target="_blank"><i class="fa fa-vimeo"></i></a></li>
      <li class="item"><a href="https://slack.hyper.sh/" target="_blank"><i class="fa fa-slack"></i></a></li>
    </ul>
  </li>
</ul>
<img class="logo" src="https://www.hyper.sh/logo/logo_single.svg" alt="Container-native Cloud, Docker, Container">
<div class="copyright">© 2016-<script>document.write(new Date().getFullYear())</script>. HyperHQ Inc All Rights Reserved</div>

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 869259706;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/869259706/?guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M6D33L"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','nvn3g');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

<!-- Intercom -->
<script>
(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/zgytclad';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>

<script>
  var delay = 30 * 1000;
  setTimeout(function() {
    window.Intercom("boot", {
      app_id: "zgytclad"
    });
  }, delay);
</script>
<!-- Intercom -->

<script src="/app.js"></script>
