<div class="form">
  <div class="left">
    <div class="title">Get Started</div>
    <ul class="start">
      <li class="item">
        <div class="circle">
          <span class="orange"><i class="fa fa-user"></i></span>
        </div>
        <div class="desc">Create Account</div>
      </li>
      <li class="item">
        <div class="circle">
          <span class="orange"><i class="fa fa-lock"></i></span>
        </div>
        <div class="desc">Generate API Credential</div>
      </li>
      <li class="item">
        <div class="circle">
          <span class="orange"><i class="fa fa-terminal"></i></span>
        </div>
        <div class="desc">Setup CLI on Your Laptop</div>
      </li>
    </ul>
  </div>
  <div class="fields">
    <form name="signup" action="https://console.hyper.sh/register" method="GET">
      <div class="wrap">
        <input type="text" name="firstname" class="firstname" placeholder="First Name" required>
        <input type="text" name="lastname" class="lastname" placeholder="Last Name" required>
      </div>
      <input type="email" name="email" class="email" placeholder="Email" required>
      <input type="password" name="password" class="password" placeholder="Password" minlength="8" maxlength="64" required>
      <input type="submit" class="signup" value="GO!" href="https://console.hyper.sh/register"></input>
    </form>
  </div>
</div>
<ul class="menu">
  <li class="item">
    <div class="head">Product</div>
    <ul class="list">
      <li class="item"><a href="/features.html">Features</a></li>
      <li class="item"><a href="/howto">How To</a></li>
      <li class="item"><a href="/pricing.html">Pricing</a></li>
      <li class="item"><a href="https://status.hyper.sh/">Status</a></li>
    </ul>
  </li>
  <li class="item">
    <div class="head">Learn</div>
    <ul class="list">
      <li class="item"><a href="https://docs.hyper.sh/">Documentation</a></li>
      <li class="item"><a href="https://forum.hyper.sh/">Forum</a></li>
      <li class="item"><a href="https://slack.hyper.sh/">Slack</a></li>
      <li class="item"><a href="https://docs.hyper.sh/FAQ/index.html">FAQ</a></li>
    </ul>
  </li>
  <li class="item">
    <div class="head">About</div>
    <ul class="list">
      <li class="item"><a href="/company.html#about">Company</a></li>
      <li class="item"><a href="/company.html#careers">Careers</a></li>
      <li class="item"><a href="https://blog.hyper.sh/">Blog</a></li>
      <li class="item"><a href="/company.html#contact">Contact</a></li>
    </ul>
  </li>
  <li class="item community">
    <div class="head">Community</div>
    <ul class="list">
      <li class="item"><a href="https://github.com/hyperhq"><i class="fa fa-github"></i></a></li>
      <li class="item"><a href="https://twitter.com/hyper_sh"><i class="fa fa-twitter"></i></a></li>
      <li class="item"><a href="https://vimeo.com/user39988431"><i class="fa fa-vimeo"></i></a></li>
      <li class="item"><a href="https://slack.hyper.sh/"><i class="fa fa-slack"></i></a></li>
    </ul>
  </li>
</ul>
<img class="logo" src="/assets/logo_icon.svg">
<div class="copyright">© 2016. HyperHQ Inc All Rights Reserved</div>
<script src="/app.js"></script>
