<nav>
  <div class="logo-wrap">
    <a class="logo" href="/"><img src="https://www.hyper.sh/logo/logo.svg" alt="Container-native Cloud, Docker, Container"></a>
    {{!--<a class="desc" href="https://gif.hyper.sh/" target="_blank">Check the 2016 Container GIF Competition</a>--}}
  </div>
  <section class="right">
    <ul class="menu">
      <li class="item">
        <a href="/hyper">PRODUCT</a>
      </li>
      <li class="item">
        <a href="javascript:void(0)">Open Source</a>
        <ul class="dropdown">
          <li><a href="http://hyperform.sh">Hyperform</a></li>
          <li><a href="/kata">Kata Enterprise</a></li>
        </ul>
      </li>
      <li class="item">
        <a href="/hyper/pricing.html">Pricing</a>
      </li>
      <li class="item">
        <a class="item-dropdown">Docs</a>
        <ul>
          <li><a href="https://docs.hyper.sh/hyper">Hyper</a></li>
          <li><a href="https://docs.hyper.sh/hyperform">HyperForm</a></li>
        </ul>
      </li>
      <li class="item"><a href="/howto">HOW TO</a></li>
      <li class="item"><a href="https://forum.hyper.sh/" target="_blank">FORUM</a></li>
      <li class="item"><a href="/customers.html">CUSTOMERS</a>
        <!-- <span class="new">NEW</span> -->
      </li>
    </ul>
    <section class="sign">
      <a href="https://console.hyper.sh/login" class="signin">Sign In</a>
      <a href="https://console.hyper.sh/register" target="_blank" class="signup">Sign Up</a>
    </section>
    <button class="nav-toggle">&#9776;</button>
  </section>
</nav>
